title: Demo
---

<%- partial('partials/header') %>

<div id="qwb-intro" class="qwb-lead inverted">
  <div class="container">
    <img id="qwb-logo" src="https://cdn.rawgit.com/quasarframework/quasar-art/756e89a6/dist/svg/quasar-logo.svg"/>
    <h1 class="qwb-logotype vertical">Quasar Framework</h1>
    <h2>Try it now!</h2>
    <p class="lead">
      Quasar Framework supports both <em>Google's Material Design</em> and <em>Apple's iOS</em> themes:
    </p>
  </div>
</div>

<div class="qwb-lead">
  <div class="container">
    <p>
      <a style="font-size:3rem" class="btn simple iconized" href="/quasar-play/android/index.html" target="_blank" title="Material Design">
        <i class="fa fa-fw fa-android"></i>
      </a>
      <a style="font-size:3rem" class="btn simple iconized" href="/quasar-play/apple/index.html" target="_blank" title="iOS">
        <i class="fa fa-fw fa-apple"></i>
      </a>
    </p>
  </div>
</div>

<%- partial('partials/footer') %>
