<a style="font-size:4rem" class="btn simple iconized" href="/quasar-play/android/index.html" target="_blank" title="Material Design">
  <i class="fa fa-fw fa-android"></i>
</a>
<a style="font-size:4rem" class="btn simple iconized" href="/quasar-play/apple/index.html" target="_blank" title="iOS">
  <i class="fa fa-fw fa-apple"></i>
</a>
