title: Demo
---

<%- partial('partials/header') %>

<div id="qwb-intro" class="qwb-lead inverted">
  <div class="container">
    <img id="qwb-logo" src="https://cdn.rawgit.com/quasarframework/quasar-art/756e89a6/dist/svg/quasar-logo.svg"/>
    <h1 class="qwb-logotype vertical">Quasar Framework</h1>
    <h2>Try it now!</h2>
    <p class="lead">
      Quasar Framework supports both <em>Google's Material Design</em> and <em>Apple's iOS</em> themes:
    </p>
  </div>
</div>

<div class="qwb-lead">
  <div class="container">
    <p><%- partial('partials/demo-links') %></p>
  </div>
</div>

<%- partial('partials/footer') %>
