<div id="qwb-footer">
  <div class="container">
    <%- partial('partials/standalone-bottom-navigation') %>
    <div class="qwb-copyright">
      <small>Copyright &copy; Razvan Stoenescu</small>
    </div>
  </div>
</div>
