<div id="header">
  <a class="menu-button"><i class="fa fa-bars"></i></a>
  <a id="logo" href="<%- config.root %>" title="v<%- latest_quasar_version() %>">
    <img src="https://raw.githubusercontent.com/quasarframework/quasar-art/master/dist/48/quasar-logo-gradient.png">
    Quasar
  </a>
  <%- partial('partials/menu') %>
</div>

<%- partial('partials/sidebar') %>
