<div id="header">
    <a id="logo" href="<%- config.root %>">
        <img src="<%- config.root %>images/quasar-logo.png">
        <span>Quasar Framework</span>
    </a>
    <ul id="nav">
        <%- partial('partials/main_menu') %>
    </ul>
</div>
