<div id="qwb-device-preview-toggle-btn" class="btn iconized inverted toggle floating bottom right" title="Toggle preview">
  <i class="fa fa-mobile"></i>
</div>
<aside id="qwb-device-preview">
  <div id="qwb-device-preview-chooser" class="btn-group iconized">
    <a id="qwb-device-android-preview-btn" data-theme="android" class="btn" title="Android">
      <i class="fa fa-android"></i>
    </a>
    <a id="qwb-device-apple-preview-btn" data-theme="apple" class="btn" title="iOS">
      <i class="fa fa-apple"></i>
    </a>
    <a id="qwb-device-desktop-preview-btn" class="btn desktop-launcher" target="_blank" title="Desktop View">
      <i class="fa fa-desktop"></i>
    </a>
    <a class="btn view-source" target="_blank" title="View Source">
      <i class="fa fa-file-code-o"></i>
    </a>
  </div>

  <div id="qwb-android-preview" class="theme active">
    <iframe id="android-iframe" frameborder="0"></iframe>
  </div>
  <div id="qwb-apple-preview" class="theme">
    <iframe id="apple-iframe" frameborder="0"></iframe>
    <img class="platform-statusbar" src="/images/ios-statusbar.png">
  </div>
  <!--<div id="qwb-win-preview" class="theme">
    <iframe id="win-iframe" frameborder="0"></iframe>
  </div>-->
</aside>
