<aside id="qwb-device-preview">
  <div id="qwb-device-preview-chooser" class="qwb-btn-group">
    <a data-theme="android" class="qwb-btn inverted icon-only active">
      <i class="fa fa-android"></i>
    </a>
    <a data-theme="apple" class="qwb-btn inverted icon-only">
      <i class="fa fa-apple"></i>
    </a>
    <!--<a data-theme="win" class="qwb-btn inverted icon-only">
      <i class="fa fa-windows"></i>
    </a>-->
    <a class="qwb-btn icon-only desktop-launcher" target="_blank" title="Desktop View">
      <i class="fa fa-desktop"></i>
    </a>
    <a class="qwb-btn icon-only view-source" target="_blank" title="View Source">
      <i class="fa fa-file-code-o"></i>
    </a>
  </div>

  <div id="qwb-android-preview" class="theme active">
    <iframe id="android-iframe" frameborder="0"></iframe>
  </div>
  <div id="qwb-apple-preview" class="theme">
    <iframe id="apple-iframe" frameborder="0"></iframe>
    <img class="platform-statusbar" src="/images/ios-statusbar.png">
  </div>
  <!--<div id="qwb-win-preview" class="theme">
    <iframe id="win-iframe" frameborder="0"></iframe>
  </div>-->
</aside>
