title: Quasar Play Privacy Policy
---

<%- partial('partials/header') %>

<div id="qwb-intro" class="qwb-lead inverted">
  <div class="container md">
    <img src="https://cdn.rawgit.com/quasarframework/quasar-art/c71ef09c/dist/svg/quasar-play-logo-full-inverted.svg" alt="Quasar Play App" style="width: 222px; margin: 0 auto;"/>
    <h2>Privacy Policy</h2>

    <p class="lead">
      We value your privacy, so let's discover how your privacy is protected while using <strong>Quasar Play</strong>.
    </p>

    <a
      class="qwb-scroll-arrow"
      data-scroll href="#qwb-brief"
    >
      <i class="fa fa-chevron-down"></i>
    </a>
  </div>
</div>

<div id="qwb-brief">
  <div class="container md">
    <h5>What personal information is collected from people using Quasar Play?</h5>
    <p class="padded">
      None, period. We don't collect, transmit or store any personal information or any other data. Quasar Play is fully functional without requiring any information about the user.
    </p>

    <h5>What information about my device is collected when I use Quasar Play?</h5>
    <p class="padded">
      It is not required to grant the app any device permissions in order to use Quasar Play, however use of the QR code-scanning option requires allowing the app access your device's camera. This is the only device permission the app will ever request, and it is the only purpose for which the device's camera will ever be used by Quasar Play.
    </p>

    <h5>Third-party disclosure</h5>
    <p class="padded">
      We do not sell, trade, or otherwise transfer any data to outside parties, nor do we include any commercial offers for third-party products or services at any time.
    </p>

    <h5>Changes to Privacy Policy</h5>
    <p class="padded">
      This Privacy Policy may be updated from time to time for any reason. You should check this Privacy Policy periodically for any changes, as continued use is deemed approval of all changes.
    </p>
  </div>
</div>

<div class="qwb-lead inverted">
  <div class="container sm">
    <h3><i class="fa fa-thumbs-up"></i> Contact Us</h3>
    <p class="lead">
      If you have any questions about this Privacy Policy, please contact us at:
    </p>
    <p class="lead">
      <a href="mailto:razvan.stoenescu@gmail.com">
        <i class="fa fa-envelope"></i>
        razvan.stoenescu@gmail.com
      </a>
    </p>

    <a
      class="qwb-scroll-arrow"
      data-scroll href="#qwb-header"
    >
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
</div>

<%- partial('partials/footer') %>
