title: Quasar Play Privacy Policy
---

<div id="qwb-intro" class="qwb-lead inverted">
  <div class="qwb-container sm">
    <a href="/">
      <img id="qwb-logo" src="https://cdn.rawgit.com/quasarframework/quasar-art/4a472070/dist/svg/quasar-logo-gradient.svg"/>
    </a>

    <h1>Quasar Play App</h1>
    <h2>Privacy Policy</h2>

    <p>
      We value your privacy, and our Privacy Policy aims to explain how your privacy is
      protected while using the Quasar Play app.
    </p>
  </div>
</div>

<div id="qwb-body">
  <div class="qwb-container sm">
    <h3>What personal information is collected from people using Quasar Play?</h3>
    <p class="caption">
      None, period. We don't collect, transmit or store any personal information or any other
      data. Quasar Play is fully functional without requiring any information about the user.
    </p>

    <h3>What information about my device is collected when I use Quasar Play?</h3>
    <p class="caption">
      It is not required to grant the app any device permissions in order to use Quasar Play,
      however use of the QR code-scanning option requires allowing the app access your device's
      camera. This is the only device permission the app will ever request, and it is the only
      purpose for which the device's camera will ever be used by Quasar Play.
    </p>

    <h3>Third-party disclosure</h3>
    <p class="caption">
      We do not sell, trade, or otherwise transfer any data to outside parties, nor do we include
      any commercial offers for third-party products or services at any time.
    </p>

    <h3>Changes to Privacy Policy</h3>
    <p class="caption">
      This Privacy Policy may be updated from time to time for any reason. You should check this
      Privacy Policy periodically for any changes, as continued use is deemed approval of all changes.
    </p>

    <h3>Contact Us</h3>
    <p class="caption">
      If you have any questions about this Privacy Policy, please contact us at
      <a href="mailto:razvan.stoenescu@gmail.com">razvan.stoenescu@gmail.com</a>.
    </p>
  </div>
</div>

<%- partial('partials/footer') %>
