title: Quasar Play Privacy Policy
---

<div class="q-header">
  <%- partial('partials/standalone-top-navigation') %>
</div>

<div class="q-body">
  <div class="q-container">
    <img src="/images/responsive-logo.png">
    <h2>Quasar Play App Privacy Policy</h2>


    <p>...Content....</p>
  </div>
</div>

<%- partial('partials/standalone-bottom-navigation') %>
