<div class="content search">
  <h1 style="margin-bottom:.5em"> 在Quasar网站内搜索</h1>
  <h3 id="loading-search">正在搜索, 请稍等...</h3>
  <div id="search-content">
    <input autofocus type="text" id="local-search-input" placeholder="请输入关键字">
    <div id="local-search-result"></div>
  </div>
</div>
