<div class="sidebar sidebar-search-index">
  <ul class="main-menu">
    <%- partial('partials/main_menu') %>
  </ul>
</div>
<div class="content search">
  <h1 style="margin-bottom:.5em">Search Quasar Website</h1>
  <input autofocus type="text" id="local-search-input" placeholder="Type here">
  <div id="local-search-result"></div>
</div>
