<section id="qwb-search-results" class="qwb-modal" role="dialog">

	<div class="qwb-modal-header inverted">
    <i class="fa fa-search"></i>
		<h2><!-- Keywords will be inserted here --></h2>
    <a href="#!" class="qwb-modal-close" title="Close this modal">
      <i class="fa fa-times"></i>
    </a>
  </div>
	<div class="qwb-modal-content">
    <ul>
      <!-- Results will be inserted here -->
    </ul>
  </div>

</section>
