<div class="content search">
  <h1 style="margin-bottom:.5em">Search Quasar Website</h1>
  <h3 id="loading-search">Loading, please wait...</h3>
  <div id="search-content">
    <input autofocus type="text" id="local-search-input" placeholder="Type here">
    <div id="local-search-result"></div>
  </div>
</div>
