<div class="btn-group stackable centered simple">
  <%- partial('partials/standalone-navigation-links') %>
</div>
<div class="btn-group centered simple iconized">
  <%- partial('partials/social-links') %>
</div>
