<a class="btn" href="/"><i class="fa fa-rocket"></i></a>
<a class="btn" href="/demo.html">Demo</a>
<a class="btn" href="/guide">Docs</a>
<a class="btn" href="http://forum.quasar-framework.org" target="_blank">Forum</a>
<a class="btn" href="https://github.com/quasarframework/quasar" target="_blank">Github</a>
<a class="btn" href="mailto:razvan.stoenescu@gmail.com">Contact</a>
<a class="btn" href="/support-quasar-framework.html">Donate</a>
