<a href="/guide">Documentation</a>
<a href="https://discord.gg/5TDhbDg" target="_blank">Discord</a>
<a href="http://forum.quasar-framework.org" target="_blank">Forum</a>
<a href="https://www.reddit.com/r/quasarframework/" target="_blank">reddit</a>
<a href="https://github.com/quasarframework/quasar" target="_blank">Github</a>
<a href="mailto:razvan.stoenescu@gmail.com">Contact</a>
<a href="/support-quasar-framework.html">Donate</a>
