<div class="q-footer">
  <div class="q-container">
    <div class="q-footer-navbar">
      <%- partial('partials/standalone-navigation-links') %>
    </div>
    <div class="q-footer-copyright">
      <span>Copyright &copy; Razvan Stoenescu & Quasar-China</span>
    </div>
  </div>
</div>
