<a href="/guide">文档</a>
<a href="http://forum.quasar-framework.org" target="_blank">社区</a>
<a href="https://github.com/quasarframework/quasar" target="_blank">Github</a>
<a href="mailto:razvan.stoenescu@gmail.com">联系</a>
<a href="/support-quasar-framework.html">捐助</a>
