<a href="#" class="qwb-btn qwb-toggle only xs simple fluid">
  <i class="fa fa-bars"></i>
</a>
<nav class="qwb-menu simple collapsible centered">
  <%- partial('partials/standalone-navigation-links') %>
</nav>
