<a href="#" class="qwb-btn qwb-toggle simple fixed top left">
  <i class="fa fa-bars"></i>
</a>
<nav class="qwb-menu collapsible centered">
  <%- partial('partials/standalone-navigation-links') %>
</nav>
