<nav class="collapsible">
  <a href="#" class="btn toggle simple compact iconized floating top left">
    <i class="fa fa-bars"></i>
  </a>
  <div class="btn-group stackable simple centered">
    <%- partial('partials/standalone-navigation-links') %>
  </div>
</nav>
