title: Support Quasar Framework
---

<div class="q-header">
  <%- partial('partials/standalone-top-navigation') %>
</div>

<div class="q-body">
  <div class="q-container">
    <img src="/images/responsive-logo.png">
    <h2>Support Quasar Development</h2>

    <p>
    The Quasar Framework is a feature-complete, material-design compliant, MIT-licensed FOSS project that is completely free to use for both open-source and commercial derivative products. Its success has everything to do with you and all of the members of our community, because experience has shown that sooner or later everyone gives something back. 
    </p>
    <p>
    No matter if you are working on an open-source project or if you undertaking commercial work with Quasar, there are always ways to nourish the ecosystem. Letting us know about problems you are facing and features you need are great and simple ways to help keep Quasar safe, secure and ultra-modern. Participating in code refactoring and documentation enhancement are also proven patterns for demonstrating your conviction that open-source creates community and makes the world a better place. When Quasar starts to bring you some financial stability, please be considerate of the tens of thousands of hours that went into its creation and send some money back to the team that made it possible. And finally, if your company relies on Quasar, the best way to guarantee that Quasar continues to be there for you is to invest in its maintenance! 
    </p>
    <p>
    If you or your company need an invoice for bookkeeping purposes, please get in touch with us via e-mail before you transfer any funds.
    <br>
    <form style="display: inline-block" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHRwYJKoZIhvcNAQcEoIIHODCCBzQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYC8Jxd/lV2NYjF4vdGeAkgItd+1dzoIVbvrR645qATrrEK+Rg8OKnb71T2AFLWfp3ROeEgvJzr6uFNrqQpjVt6ovUAP6dv1X/WTYEavvxblJZ6Mb/N6zjhPxHtv6hZTL/j4YEhAjqzg5IjcT3aF4U1E3B9YzvmW15ZhZgs1YeNPPzELMAkGBSsOAwIaBQAwgcQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIrMOcJafXT5WAgaDJmlcq78MMlZuLG35WKOzD8Dz6kDPYApaNWEThEnaP96BeWIJONk4MavI+loWG4F3aNX8Zk8tWt+cbL/7Ck2qwm7i7T9zXDTqNwBVN1Bwzz/HKpg2yu5jBPsc7Nvhoo7yS14IQDULHNtGZF/Vn1PGH5Spv6hMEYTdkOru6G/Wk5YH5RvzMFwulkInq6XZytMjcxvibZLMA+uw92sVPhLeeoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTYwNjExMTIxNDI3WjAjBgkqhkiG9w0BCQQxFgQUEgwqrR76Eazz9VYQUdwFEbyHyRswDQYJKoZIhvcNAQEBBQAEgYAA6Zlp5zXl1/jcCTeVAspsSfKtMOKXohrzkcKdoYacERc+02nzZcNDY7uSNWiG3Fa3iwHbpmyfUP9Hf87/2DQxJm5B3TS58FcOosvc9yRCHOSvEU9iBSt5PYv7wwp3+KMsfbBj6KX4g0nhvHbrTwyochdnAOLRsbtpm3I4lhjXqQ==-----END PKCS7-----
      ">
      <button type="submit" class="button support-button support-donate"><i class="fa fa-gift"></i> Paypal</button>
      <a class="button support-button support-donate" href="https://www.patreon.com/quasarframework" target="_blank"><i class="fa fa-gift"></i> Patreon</a>
      <a class="button support-button support-idea" href="https://github.com/quasarframework/quasar/issues" target="_blank"><i class="fa fa-lightbulb-o"></i> Submit Ideas</a>
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <div class="support-coin">
      <h4>
        Bitcoin
        <br>
        3358xDasBXGVMu31U3fxwh9u8yAMBjpaaY
      </h4>
      <img src="/images/Bitcoin_QR_code.png">
    </div>
    <div class="support-coin">
      <h4>
        Litecoin
        <br>
        MDnrNfVYiCL8Pm4PMn18uNtZBv3vMVH8FG
      </h4>
      <img src="/images/Litecoin_QR_code.png">
    </div>
    <div class="support-coin">
      <h4>
        Ethereum
        <br>
        0x6e62dda120685be5c7b374d408f3fc5b0e92ad99
      </h4>
      <img src="/images/Ethereum_QR_code.png">
    </div>
    <br><br>

    <p>
      <em>
        Quasar appeared because I felt that a full featured framework to build Responsive websites, PWAs (Progressive Web Apps), Native Mobile Apps (Android, iOS) and Electron apps simultaneously (using same code-base) was missing. So I quit my job to make this idea a reality. -- <strong>Razvan Stoenescu</strong>
      </em>
    </p>

    <p>
      Join us and help ensure that Quasar survives and evolves!
    </p>
  </div>
</div>

<%- partial('partials/standalone-bottom-navigation') %>
