<div class="screen-bar shadow-1 fixed-top">Quasar Slider</div>

<h5>
  Basic Slider. No controls. Just swipe between slides or
  use you mouse to drag slides to left or right.
</h5>
<slider class="text-white">
  <div slot="slide" class="bg-primary">
    Slide 1
  </div>
  <div slot="slide" class="bg-secondary">
    Slide 2
  </div>
  <div slot="slide" class="bg-tertiary">
    Slide 3
  </div>
</slider>

<h5>Slider with Arrows, Dots and Fullscreen controls.</h5>
<slider arrows dots fullscreen class="text-white">
  <div slot="slide" class="bg-primary">
    <div>Slide 1</div>
    <div v-for="n in 12">Line {{(n+2)}}</div>
  </div>
  <div slot="slide" class="bg-secondary">
    Slide 2
  </div>
  <div slot="slide" class="bg-tertiary">
    Slide 3
  </div>
</slider>

<h5>Slider with Centered Content</h5>
<slider arrows dots class="text-white">
  <div slot="slide" class="bg-primary centered">
    Slide 1
  </div>
  <div slot="slide" class="bg-secondary centered">
    Slide 2
  </div>
  <div slot="slide" class="bg-tertiary centered">
    Slide 3
  </div>
</slider>

<h5>Slider with Custom Actions as Controls</h5>
<slider arrows dots actions class="text-white">
  <div slot="slide" class="bg-primary">
    <div v-for="n in 20">Slide {{n}}</div>
  </div>
  <div slot="slide" class="bg-secondary">
    Slide 2
  </div>
  <div slot="slide" class="bg-tertiary">
    Slide 3
  </div>
  <i slot="action">camera_enhance</i>
  <i slot="action">bookmark_border</i>
  <i slot="action">add_shopping_cart</i>
</slider>

<h5>Launch Slider on Fullscreen</h5>
<button class="primary glossy" @click="launchModal()">
  Launch
</button>
