<div class="screen-bar shadow-1 fixed-top">Quasar Color Palette</div>

<div class="text-center">
  <h5>Main Colors</h5>
  <div
    class="main-color shadow-1 row inline items-center justify-center text-white"
    v-for="color in mainColors"
    :class="'bg-' + color"
  >
    {{color}}
  </div>

  <h5>Full Palette</h5>
  <div class="detail" v-for="color in colors">
    <h5 class="detailed-color shadow-1 column items-center justify-center text-white" :class="'bg-' + color">{{color}}</h5>
    <div class="detailed-color column items-center justify-center" v-for="n in 14" :class="'bg-' + color + '-' + (n+1)">{{color}}-{{(n+1)}}</div>
  </div>
</div>
