/* Credits for 'pulse' and 'tada' anims to animate.css */
/* https://github.com/daneden/animate.css */

.animated
  animation-duration 1s
  animation-fill-mode both

.animated.infinite
  animation-iteration-count infinite

@keyframes pulse
  from
    transform scale3d(1, 1, 1)
  50%
    transform scale3d(1.05, 1.05, 1.05)
  to
    transform scale3d(1, 1, 1)

.pulse
  animation-name pulse

@keyframes tada
  from
    transform scale3d(1, 1, 1)
  10%, 20%
    transform scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
  30%, 50%, 70%, 90%
    transform scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
  40%, 60%, 80%
    transform scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
  to
    transform scale3d(1, 1, 1)

.tada
  animation-name tada

@keyframes swing
  15%
    transform translateX(5px)
  30%
    transform translateX(-5px)
  50%
    transform translateX(3px)
  65%
    transform translateX(-3px)
  80%
    transform translateX(2px)
  100%
    transform translateX(0)

.swing
  animation-name swing

@keyframes logo-resize
  0%, 25%
    width 35%
  35%, 50%
    width 25%
  60%, 75%
    width 15%
  85%, 90%
    width 10%

@keyframes device-fade-in-out
  0%
    opacity 0
  25%
    opacity 1
  35%
    opacity 0

@keyframes play-fade-out
  0%, 5%, 15%, 100%
    width 25%
    opacity 1
  10%
    width 30%
    opacity 1
  20%, 95%
    opacity 0

@keyframes laptop-fade-out
  0%, 15%
    left 50%
    opacity 0
  30%, 40%
    left 50%
    opacity 1
  45%, 100%
    left 0
    opacity 0

@keyframes qrcode-fade-in
  0%, 20%, 90%, 100%
    width 20%
    opacity 0
  35%, 45%
    width 20%
    opacity 1
  50%
    width 10%
    opacity 1
  55%
    width 10%
    opacity 0

@keyframes mobile-scan
  0%, 30%
    top 100%
    left 100%
    width 10%
    opacity 0
    transform translate(-50%, -50%) rotateZ(-45deg)
  40%, 65%
    width 30%
    top 50%
    left 50%
    opacity 1
    transform translate(-50%, -50%) rotateZ(0deg)
  70%, 100%
    width 30%
    opacity 0

@keyframes logo-fade-in
  0%, 50%
    width 5%
    height auto
    opacity 0
  55%, 70%
    width 20%
    height auto
    opacity 1
  90%
    width 50%
    height auto
    opacity 1
  100%
    width 50%
    height auto
    opacity 0

@keyframes vuelogo-rotate
  0%
    transform translate(-50%, -50%) rotateY(0deg)
    opacity 1
  25%
    transform translate(-50%, -50%) rotateY(90deg)
    opacity 1
  26%
    opacity 0
  50%
    transform translate(-50%, -50%) rotateY(180deg)
    opacity 0
  75%
    transform translate(-50%, -50%) rotateY(-90deg)
    opacity 0
  100%
    transform translate(-50%, -50%) rotateY(0deg)
    opacity 1

@keyframes jslogo-rotate
  0%
    transform translate(-50%, -50%) rotateY(-180deg)
    opacity 0
  25%
    transform translate(-50%, -50%) rotateY(-90deg)
    opacity 0
  50%
    transform translate(-50%, -50%) rotateY(0deg)
    opacity 1
  75%
    transform translate(-50%, -50%) rotateY(90deg)
    opacity 1
  76%
    opacity 0
  100%
    transform translate(-50%, -50%) rotateY(180deg)
    opacity 0

@keyframes rocket-flight
  0%
    margin-top 0
    margin-left 0
  10%
    margin-top 2px
    margin-left -1px
  20%
    margin-top -2px
    margin-left 2px
  30%
    margin-top 3px
    margin-left -2px
  40%
    margin-top 2px
    margin-left -1px
  50%
    margin-top -5px
    margin-left 2px
  60%
    margin-top 3px
    margin-left -2px
    margin-left 2px
  70%
    margin-top 3px
    margin-left -2px
  80%
    margin-top 5px
    margin-left -1px
  90%
    margin-top -2px
    margin-left 2px
  100%
    margin-top 2px
    margin-left -1px

@keyframes needle-speed
  0%
    transform translate(-50%, -74%) rotateZ(95deg)
  20%
    transform translate(-50%, -74%) rotateZ(100deg)
  40%
    transform translate(-50%, -74%) rotateZ(95deg)
  60%
    transform translate(-50%, -74%) rotateZ(105deg)
  80%
    transform translate(-50%, -74%) rotateZ(95deg)
  100%
    transform translate(-50%, -74%) rotateZ(100deg)

@keyframes logo-slide-in-out
  0%
    left 80%
    opacity 0
    width 20%
  33%
    left 50%
    opacity 1
    width 50%
  66%, 100%
    left 20%
    opacity 0
    width 20%

@keyframes smoke
  0%, 33%, 100%
    opacity 0
    top 55%
  66%
    opacity 1
  99%
    opacity 0
    top 50%

.logo
.device
.qrcode
.play
.jslogo
.vuelogo
.rocket
.tools
.themeroller
.gauge
.needle
.androidlogo
.applelogo
.winlogo
.cup
.smoke
.docs
  position absolute
  opacity 1
  width 50%
  height auto
  left 50%
  top 50%
  transform translate(-50%, -50%)

.qwb-responsive
  .device
    opacity 0
    animation-name device-fade-in-out
    animation-duration 8s
    animation-iteration-count infinite
  .desktop
    width 80%
    top 68%
    animation-delay 0s
  .laptop
    width 70%
    top 52%
    animation-delay 2s
  .tablet
    width 30%
    animation-delay 4s
  .mobile
    width 20%
    animation-delay 6s
  .logo
    width 35%
    animation logo-resize 8s linear infinite

.qwb-play
  .qrcode
    animation qrcode-fade-in linear 8s infinite
  .play
    animation play-fade-out linear 8s infinite
  .logo
    animation logo-fade-in linear 8s infinite
  .mobile
    animation mobile-scan linear 8s infinite
  .laptop
    top 52%
    width 60%
    animation laptop-fade-out linear 8s infinite

.qwb-js-vue
  .jslogo
    animation jslogo-rotate linear 4s infinite
  .vuelogo
    animation vuelogo-rotate linear 4s infinite

.qwb-boilerplate
  .rocket
    width 35%
    animation rocket-flight linear 1s infinite

.qwb-speed
  .needle
    width 5%
    transform-origin 49% 73.8%
    transform translate(-50%, -74%)
    animation needle-speed linear .5s infinite

.qwb-platforms
  .androidlogo
  .applelogo
  .winlogo
    opacity 0
    left 80%
    animation logo-slide-in-out ease 6s infinite
  .androidlogo
    animation-delay 0s
  .applelogo
    animation-delay 2s
  .winlogo
    animation-delay 4s

.qwb-hot-reload
  .mobile
    width 20%
    top 65%
    left 25%
  .mobile+.logo
    width 15%
    top 52%
    left 17.5%
  .desktop
    width 50%
  .desktop+.logo
    width 20%
    top 24%
    left 40%
  .cup
    width 30%
    top 85%
    left 75%
  .smoke
    width 10%
    left 75%
    animation smoke 4s infinite
  .logo
    animation pulse 2s infinite
