@import "_variables"
@import "_syntax"

body
    font-family $body-font
    font-size $body-font-size
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    color $medium
    margin 0

a
    text-decoration none
    color $medium

img
    border none

h1, h2, h3, h4, strong
    font-weight 600
    color $dark

input
    vertical-align middle
    border 1px solid $border
    border-radius 3px
    box-shadow $shadow
    line-height 20px
    font-size 16px
    padding 12px 10px
    width 100%
    cursor pointer
    outline 0
    box-sizing border-box

code, pre
    font-family $code-font
    font-size $code-font-size
    background-color $codebg
    -webkit-font-smoothing initial
    -moz-osx-font-smoothing initial

code
    color #525252
    padding 3px 5px
    margin 0 2px
    border-radius 2px
    border: 1px solid #e6e6e6;
    white-space nowrap
    box-shadow 0 1px 1px rgba(0,0,0,0.125)

em
    color $light

p
    word-spacing 0.05em



@-webkit-keyframes swing
    15%
        -webkit-transform translateX(5px)
        transform: translateX(5px)
    30%
        -webkit-transform translateX(-5px)
       transform: translateX(-5px)
    50%
        -webkit-transform translateX(3px)
        transform: translateX(3px)
    65%
        -webkit-transform translateX(-3px)
        transform: translateX(-3px)
    80%
        -webkit-transform translateX(2px)
        transform: translateX(2px)
    100%
        -webkit-transform translateX(0);
        transform: translateX(0);

@keyframes swing
    15%
        -webkit-transform translateX(5px)
        transform: translateX(5px)
    30%
        -webkit-transform translateX(-5px)
        transform: translateX(-5px)
    50%
        -webkit-transform translateX(3px)
        transform: translateX(3px)
    65%
        -webkit-transform translateX(-3px)
        transform: translateX(-3px)
    80%
        -webkit-transform translateX(2px)
        transform: translateX(2px)
    100%
        -webkit-transform translateX(0);
        transform: translateX(0);

a.button
    display inline-block
    font-family $logo-font
    font-size 150%
    color #fff
    background-color $light
    box-shadow $shadow
    padding 12px 14px
    border-radius $radius
    transition all .15s ease
    &:hover
        background-color lighten($main, 25%)
        -webkit-animation swing 1s ease
        animation swing 1s ease
        -webkit-animation-iteration-count 1
        animation-iteration-count 1

.highlight
    overflow-x auto
    position relative
    padding 0
    background-color $codebg
    padding .8em
    line-height 1.1em
    border-radius $radius
    box-shadow $shadow
    table, tr, td
        width 100%
        border-collapse collapse
        padding 0
        margin 0
    .gutter
        width 1.5em
    .code
        pre
            padding 1.2em 1.4em
            line-height 1.5em
            margin 0
    &.html, &.js, &.bash, &.css, &.yaml
        .code:after
            position absolute
            top 0
            right 0
            color #ccc
            text-align right
            font-size .75em
            padding 5px 10px 0
            line-height 15px
            height 15px
            font-weight 600
    &.html .code:after
        content 'HTML'
    &.js .code:after
        content 'JS'
    &.bash .code:after
        content 'Shell'
    &.css .code:after
        content 'CSS'
    &.yaml .code:after
        content 'YAML'

#main
    position relative
    z-index 1
    padding 0 10px 30px 60px
    overflow-x hidden

#toTop
    transition all 0.5s ease 0s
    opacity 0.6
    cursor pointer
    position fixed
    bottom -70px
    right 10px
    padding 20px
    background-color #F8F8F8
    color #525252
    box-shadow $shadow
    border-radius $radius
    border 2px solid #ccc
    &.visible
        bottom -5px
    &:hover
        opacity: 1

@media screen and (min-width: 720px)
    #toTop:hover
        bottom 5px

@media screen and (min-width: 1500px)
    #toTop
        right 20%

@media screen and (max-width: 720px)
    #toTop
        right -4px
        padding 8px 10px
        opacity: 0.9
