@import '_variables'
@import '_syntax'

body
  font-family $body-font
  font-size $body-font-size
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color $medium
  margin 0

a
  text-decoration none
  color $medium
  outline 0
  cursor pointer

img
  border 0

h1, h2, h3, h4, strong
  font-weight 600
  color $dark

hr
  margin 2em 0
  height 2px
  background-color $hr-color
  border 0
  padding 0

input
  vertical-align middle
  border 1px solid $border
  border-radius 3px
  box-shadow $shadow
  line-height 20px
  font-size 16px
  padding 12px 10px
  width 100%
  cursor pointer
  outline 0
  box-sizing border-box

code, pre
  font-family $code-font
  font-size $code-font-size
  background-color $bg
  -webkit-font-smoothing initial
  -moz-osx-font-smoothing initial

code
  color $dark
  padding 3px 5px
  margin 0 2px
  border-radius 2px
  border $code-border
  white-space nowrap
  box-shadow 0 1px 1px rgba(0, 0, 0, .125)

em
  color $light

p
  word-spacing .05em

iframe
  border 0

#header
  position fixed
  top 0
  left 0
  right 0
  background-color $header-bg
  box-shadow $header-shadow
  height $header-height
  z-index 100
  display flex
  align-items stretch
  justify-content flex-start

  a
    color $header-color
    line-height $header-height
    font-family $logo-font
    font-weight 500
    font-size 1rem
    padding 0 25px
    &.current
      background-color rgba(255, 255, 255, .2)
      cursor default
    &:hover:not(.current)
      background-color darken($header-bg, 15%)
  i
    font-size 1.2rem

#logo
  font-size 1.2rem !important
  img
    vertical-align top
    width $header-height
    height $header-height

#main
  z-index 1
  padding-top ($header-height + 20px)
  overflow-x hidden

@keyframes swing
  15%
    transform translateX(5px)
  30%
    transform translateX(-5px)
  50%
    transform translateX(3px)
  65%
    transform translateX(-3px)
  80%
    transform translateX(2px)
  100%
    transform translateX(0)

.logo-font
  font-family $logo-font

a.button
  display inline-block
  font-family $logo-font
  color $white
  background-color $header-bg
  box-shadow $shadow
  padding 10px 14px
  border-radius 4px
  transition all .25s ease
  font-size 1.2rem
  &:hover
    background-color $black
    animation swing 1s ease
    animation-iteration-count 1

.highlight
  overflow-x auto
  position relative
  padding 0
  background-color $bg
  padding .8em
  line-height 1.1em
  border-radius $radius
  box-shadow $shadow
  table, tr, td
    width 100%
    border-collapse collapse
    padding 0
    margin 0
  .gutter
    width 1.5em
  .code
    pre
      padding 1.2em 1.4em
      line-height 1.5em
      margin 0
  &.html, &.js, &.bash, &.css, &.yaml, &.json
    .code:after
      position absolute
      top 0
      right 0
      color #ccc // @stylint ignore
      text-align right
      font-size .75em
      padding 5px 10px 0
      line-height 15px
      height 15px
      font-weight 600
  &.html .code:after
    content 'HTML'
  &.js .code:after
    content 'JS'
  &.bash .code:after
    content 'Shell'
  &.css .code:after
    content 'CSS'
  &.json .code:after
    content 'JSON'
  &.yaml .code:after
    content 'YAML'

.sidebar
  position fixed
  top 80px
  left 40px
  bottom 0
  z-index 10
  width 240px
  padding 20px 0
  margin-right 20px
  overflow-x hidden
  overflow-y auto
  -webkit-overflow-scrolling touch
  -ms-overflow-style none
  h2
      margin-top .2em
      margin-bottom 7px
  h3
      margin-bottom 3px
  ul
      list-style-type none
      margin 0
      line-height 1.8em
      padding-left 1em
  .version-select
      vertical-align middle
      margin-left 5px
  .menu-root
      padding-left 0
  .menu-sub
      font-size .85em
  .sidebar-link
      color $medium
      &.current
          font-weight 900
          color $main
          font-style italic
      &:hover
          border-bottom 2px solid $main
  .section-link
      transition all .2s ease-in
      &.active, &:hover
          color $main
          border-left 3px solid $main
          padding-left 3px
      &.active
          font-weight bold
  .main-menu
      margin-bottom 20px
      display none
      padding-left 0

.sidebar-menu
  color $main
  margin-bottom 20px
  a
    display block
    font-size 1rem
    padding 5px 0

.sidebar-backdrop
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  background-color rgba(0, 0, 0, .4)
  z-index 999
  display none
  &.active
    display block

@media screen and (min-width $small-screen + 1px)
  .sidebar-backdrop
    display none !important
  #header .menu-button, .sidebar-menu
    display none
    #main.fix-sidebar .sidebar
      position fixed

@media screen and (max-width $small-screen)
  #header
    .menu-button
      padding 0 20px
    .menu-link
      display none
    #logo
      padding 0
  body
    -webkit-text-size-adjust none
    font-size 14px
  .highlight pre
    padding 0
  .sidebar
    position fixed
    background-color #f9f9f9 // @stylint ignore
    height 100%
    top 0
    left 0
    padding 25px 30px 20px
    box-shadow 0 0 10px rgba(0, 0, 0, .2)
    box-sizing border-box
    transition all .4s cubic-bezier(.4, 0, 0, 1)
    -webkit-transform translate(-280px, 0)
    transform translate(-280px, 0)
    z-index 1000
    .main-menu
      display block
    &.open
      -webkit-transform translate(0, 0)
      transform translate(0, 0)
    li
      list-style-type circle
  .content
    margin 0 !important
    padding-top 0
  .footer
    margin-left 0
    text-align center
