@import '_variables'
@import '_mixins'


/* Base */

body
  overflow-x hidden

img
  max-width 100%

  round()

  &.centered
    display block
    margin-left auto
    margin-right auto

blockquote
  display inline-block
  box-sizing border-box
  max-width 100%
  margin 1em 0
  padding .5rem 2rem
  border-left 6px solid $primary
  color $secondary-text

code, figure.highlight
  box-sizing border-box
  border-radius $border-radius

code
  padding .1rem .5rem
  white-space nowrap

figure.highlight
  margin 1rem 0
  width 100%
  max-width 58rem

  pre
    margin 0
    padding 0

  .line
    min-height 20px

  table
    border none


/* Tables */

table
  min-width 100%
  overflow hidden
  border-spacing 0
  border 1px solid $divider
  border-radius $border-radius

  tr:not(:first-child)
    border-top 1px solid $divider

  thead
    color $inverted-primary-text
    background-color $dark-primary

  tr
    display flex
    flex-direction column
    min-width 100%

  td, th
    padding .5rem 1rem
    text-align left

  td:first-child,
  th:first-child
    padding-top 1rem

  td:last-child,
  th:last-child
    padding-bottom 1rem


/* Inputs */

input, select, textarea
  border-radius $border-radius
  min-width 12rem
  padding .5rem
  margin-bottom 1rem
  outline 0
  box-shadow none
  border 1px solid $divider
  color $primary-text

.qwb-input
  position relative

  input
    width 100%
    box-sizing border-box

  &.search input
    border-radius $border-radius * 4
    padding-right 2em

  &.icon
    input+i
      position absolute
      top .5em
      color $normal-text

  &.left.icon
    input
      padding-left 25px

    input+i
      left 10px

  &.right.icon
    input
      padding-right 25px

    input+i
      right 10px

  input, select, textarea
    display inline-block


/* Buttons */

.qwb-btn, a.qwb-btn
  cursor pointer
  display inline-block
  padding .5rem 1.25rem
  margin 0 .5rem 1rem
  border none
  border-radius $border-radius
  box-sizing border-box
  background-color $white
  box-shadow $shadow
  font-size 1rem
  font-family $base-font-family
  line-height $base-line-height
  color $secondary-text
  text-align center
  text-decoration none
  transition all .2s

  round()

  fixed()

  fluid()

  inverted()

  simple()

  compact()

  &:hover
    color $primary

  &:not(.icon-only)
    i
      margin-right .25em

  &.inverted:hover
    background-color $primary
    color $white

  &.inverted:active
    background-color $inverted-secondary-text

.qwb-btn-group
  display flex
  flex-direction row
  justify-content center

  .qwb-btn:not(:first-child)
    margin-left -1px /* Trick to collapse borders */
    border-top-left-radius 0
    border-bottom-left-radius 0

  .qwb-btn:not(:last-child)
    margin-right 0
    border-top-right-radius 0
    border-bottom-right-radius 0


/* Toggles */

.qwb-toggle
  cursor pointer
  transition opacity .2s


/* Dropdowns */

.qwb-toggle+.qwb-dropdown
  dropdownHidden()

.qwb-toggle.on+.qwb-dropdown
  dropdownVisible()


/* Menus */

.qwb-menu
  position relative
  display flex
  max-width max-content
  width 100%
  z-index 100
  padding 0 .5rem
  box-sizing border-box
  min-height $menu-min-height
  flex-flow column wrap
  vertical-align middle
  align-items center
  align-content center
  background-color $white
  box-shadow $shadow
  transition height .2s

  fixed()

  inverted()

  fluid()

  simple()

  compact()

  > .qwb-menu
    background-color transparent
    box-shadow none

  &.compact *
    padding-top 0
    padding-bottom 0

  &.centered
  &.right
    margin-left auto

  &.centered
    margin-right auto
    justify-content center

  > a, > input, > select, > i, > .qwb-btn
    display inline-block
    padding .5em .75em
    vertical-align middle
    margin-top 0
    margin-bottom 0
    box-sizing border-box
    color $secondary-text
    text-decoration none

    &:hover
      color $primary

  > a, > i
    text-align center

  > a.minimal
      i+*
        display none

  img
    max-height 2rem
    display inline-block
    vertical-align middle
    margin-right .25em

.qwb-toggle+.qwb-menu.collapsible
  dropdownHidden()

.qwb-toggle.fixed+.qwb-menu.collapsible
  position fixed
  max-width 100%
  z-index 101
  top 0

.qwb-toggle.on+.qwb-menu.collapsible
  dropdownVisible()


/* Accordions */

.qwb-accordion,
  display flex
  flex-direction column
  overflow-y auto

  .qwb-toggle+.list
    flex 0
    height auto
    max-height 0px
    opacity 0
    overflow-y hidden
    transition opacity .2s, overflow-y 0.5s linear 0.5s

  .qwb-toggle.on+.list
    flex 1
    max-height 9999px
    overflow-y auto
    opacity 1

/* Leads */

@keyframes sky-slide-x
  from
    background-position 0px 0
  to
    background-position 8000px 0

@keyframes stars-slide-x
  from
    background-position 0px 0, -100px 0
  to
    background-position 7000px 0, 10000px 0

.qwb-lead
  display flex
  position relative
  padding 2rem 0
  box-sizing border-box
  background-image url(../images/space.jpg)
  background-attachment fixed
  background-repeat repeat-x
  background-size auto 100%
  background-color $primary
  text-align center
  animation sky-slide-x 300s linear infinite

  &:before
    content ''
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background-image url(../images/stars.png), url(../images/stars.png)
    background-attachment fixed
    background-repeat repeat, repeat
    background-size auto 60%, auto 120%
    background-color transparent
    animation stars-slide-x 250s linear infinite reverse

  p
    max-width 80%
    margin-left auto
    margin-right auto


/* Modals */

.qwb-modal
  display flex
  pointer-events none
  flex-direction column
  justify-content center
  align-content center
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  z-index 200
  opacity 0
  background-color rgba(0, 0, 0, .5)
  transition opacity .2s

  :first-child
    border-top-left-radius $border-radius
    border-top-right-radius $border-radius

  :last-child
    border-bottom-left-radius $border-radius
    border-bottom-right-radius $border-radius

  .qwb-modal-header,
  .qwb-modal-content,
  .qwb-modal-footer
    display flex
    min-width 300px
    width 300px
    margin 0 auto
    padding 1rem
    background-color $white
    box-shadow $shadow

  .qwb-modal-header,
  .qwb-modal-footer
    flex-direction row

  .qwb-modal-header
    vertical-align middle

    inverted()

    h1, h2, h3, h4, h5, h6, i, a
      display inline-block
      color $white
      font-size 1em
      line-height 1em
      margin-bottom 0

    i
      margin-right 10px

    .qwb-modal-close
      i
        margin-right 0

    i+*
      flex-grow 1

  .qwb-modal-content
    flex-direction column
    min-height 3em
    max-height 30em
    overflow auto

.qwb-modal:target
  opacity 1
  pointer-events auto


/* Sidebars */

.qwb-sidebar
  position relative
  display flex
  flex-direction column
  box-sizing border-box
  padding 1rem
  height 100%
  overflow-x hidden
  overflow-y auto
  z-index 101

  fixed()

  inverted()

  .qwb-lead,
  .qwb-accordion
    margin-left -1rem
    margin-right -1rem
    padding-left 1rem
    padding-right 1rem

  .qwb-lead
    flex-direction column

  .qwb-accordion
    flex-grow 1


/* Content blocks */

.qwb-content
  padding 2rem 0
  box-sizing border-box
  flex-grow 1


/* Feature items */

.qwb-feature-item
  display flex
  flex-flow column
  margin 0 auto
  padding 2rem
  box-sizing border-box
  font-size 1.1em

  .qwb-feature-image
    position relative
    box-sizing border-box
    width 12rem
    height 8rem
    margin 0 auto 2rem

  .qwb-feature-content
    width 100%
    margin 0 auto
    box-sizing border-box
    text-align center


/* Copyright */

.qwb-copyright
  margin 1rem auto
  box-sizing border-box


/* Footnotes */

.qwb-footnote
  padding 1rem 0
  border-top 1px dashed $divider


/* Scroll arrows */

.qwb-scroll-arrow
  display block
  color $primary
  margin 0 auto
  font-size 1.2em

.inverted .qwb-scroll-arrow
  color $divider


/* Others */

.fa.fa-quasar
  &:before
    content ''
    display inline-block
    width 1em
    height 1em
    vertical-align bottom
    background url(https://cdn.rawgit.com/quasarframework/quasar-art/4a472070/dist/svg/quasar-logo-monochrome.svg) no-repeat center center
    background-size 1em 1em

  &:hover:before
    background-image url(https://cdn.rawgit.com/quasarframework/quasar-art/4a472070/dist/svg/quasar-logo-gradient.svg)

.playstore
  display inline-block
  width 100%
  img
    display block
    width 200px
    margin 0 auto


/* Responsive */

@media only screen and (min-width $md)

  table
    tr
      display table-row

    td, th
      padding 1rem

  .qwb-menu:not(.vertical)
    flex-flow row wrap

  > a, > input, > select, > i
    width auto

  .qwb-toggle.fixed
    opacity 0

  .qwb-toggle.fixed+.qwb-menu.collapsible
    dropdownVisible()

  .qwb-feature-item
    flex-flow row

    &.reverse
      flex-flow row-reverse

    .qwb-feature-image
      width 20rem
      height 13.32rem
      margin 0 auto

    .qwb-feature-content
      width 50%
      padding 2rem
      text-align left
