@import '_variables'


/* Base */

html, body
  margin 0
  padding 0


/* Grid (based on Flexbox) */

.qwb-container
  position relative
  display flex
  flex-direction column
  box-sizing border-box
  width 100%
  height 100%
  margin 0 auto

  &.xs
    max-width 32rem

  &.sm
    max-width 48rem

  &.md
    max-width 64rem

  &.lg
    max-width 80rem

  &.xl
    max-width 96rem

.qwb-row
  position relative
  display flex
  flex-flow column
  justify-content space-between
  box-sizing border-box
  height 100%

.qwb-item
  position relative
  display flex
  flex-direction column
  flex 1

  &.fluid
    max-width 100%

  &.half
    max-width 50%

  &.third
    max-width 33.33%

  &.fourth
    max-width 25%

  &.fifth
    max-width 20%

  &.tenth
    max-width 10%


/* Responsive */

@media (min-width: $xs)

  .qwb-row
    flex-flow row

@media (min-width: $sm)

  .only.xs
    display none !important

@media (min-width: $md)

  .only.sm
    display none !important

@media (min-width: $lg)

  .only.md
    display none !important

@media (min-width: $xl)

  .only.lg
    display none !important


@media (max-width: $sm)

  .only.sm
    display none !important

@media (max-width: $md)

  .only.md
    display none !important

@media (max-width: $lg)

  .only.lg
    display none !important

@media (max-width: $xl)

  .only.xl
    display none !important
