$white = #fff
$black = #000

$dark-primary = #1976d2
$primary = #42a5f5
$light-primary = #b3e5fc
$accent = #ff5722
$divider = #cfd8dc
$normal-text = #90a4ae
$primary-text = #263238
$secondary-text = #546e7a
$inverted-primary-text = $white
$inverted-secondary-text = $accent
$inverted-text = $divider
