$white = #fff
$black = #000

$dark-primary = #1976d2
$primary = #42a5f5
$light-primary = #b3e5fc
$accent = #ff5722
$primary-text = #263238
$secondary-text = #546e7a
$normal-text = #a0b4be
$inverted-text = #dfe8ec
$inverted-primary-text = $white
$inverted-secondary-text = $accent
$divider = $normal-text
