#qwb-device-preview
  display block
  z-index 101
  width 100%
  box-sizing border-box
  padding 0
  margin 0 auto
  text-align center

  .theme
    display none
    opacity 0
    &.active
      display block

#qwb-device-preview-chooser
  margin 1rem auto
  flex-direction row

#qwb-device-desktop-preview-btn
  display none

#qwb-apple-preview,
#qwb-android-preview,
#qwb-win-preview
  position relative
  width 412px
  height 805px
  background center top no-repeat url(/images/devices-sprite.jpg)
  background-size 470px
  margin 0 auto

  iframe
    margin 0 auto

#qwb-apple-preview
  iframe
    margin-top 80px
    width 320px
    height 568px
    background $white
  img.platform-statusbar
    position absolute
    top 84px
    left 46px
    width 320px

#qwb-android-preview
  background-position center center
  iframe
    margin-top 64px
    width 360px
    height 590px
    background $white

#qwb-win-preview
  background-position center bottom
  iframe
    margin-top 90px
    width 360px
    height 590px
    background $white

@media screen and (min-width $md)

  #qwb-device-desktop-preview-btn
    display block

@media screen and (min-width $xl)

  #qwb-device-preview

    .theme
      opacity 1

  #qwb-device-preview-chooser
    flex-direction row
