.content.search
    margin-left 50px
    h1
        margin 0 0 .5em
    ul
      list-style-type none
      padding-left 0
      p.search-result
          margin-top 0
      li
          margin .5em 0 .5em
          border-bottom 1px solid $border
          border-radius $radius
          padding 10px
          &:hover
              background-color #EEE
          a.search-result-title
              font-weight bold
              color $main
              font-size 16px
          a.search-result
              color $medium
              font-weight 400

@media screen and (max-width: 720px)
    .content.search
        margin-left 0

@media screen and (min-width: 720px)
    .sidebar.sidebar-search-index
        display none
