@import '_variables'
@import '_mixins'


.qwb-sidebar
  inverted()

  .qwb-sidebar-header
    flex-shrink 0

  .qwb-logo
    position fixed
    display inline-block
    width 100%
    padding .5rem
    left 0
    top 0
    z-index 150
    margin-bottom 1rem
    text-align center
    font-size 1.3em
    line-height 1
    box-shadow $shadow
    background-color $dark-primary

    img
      vertical-align middle
      margin-right .2em

    strong
      display inline-block
      vertical-align middle
      width 120px
      margin 0 .5rem
      font-family $header-font-family
      text-shadow $text-shadow

    em
      font-size .6em

  .qwb-menu
    flex-flow row wrap
    margin-top -1rem
    margin-bottom 2rem

  .qwb-accordion
    margin -1rem
    padding 0

    h4.qwb-toggle
      margin 1px 0 0
      padding .5rem 1rem
      box-shadow $shadow
      background-color $primary
      color $white
      text-transform uppercase

      &.on
        i
          transform rotateZ(180deg)
          color $white

      i
        float right
        font-size .8rem
        margin-top 1em * $header-line-height * 0.5
        transition transform .2s, color .2s

  h4.qwb-toggle.on+.list
    padding-top 1rem
    padding-bottom 1rem

  .list
    padding-right 1rem
    padding-left 1rem

    a
      &+.list
        display none

      &.current,
      &.active
        font-weight bold

        &:before
          content '# '

        &:before
          content '# '

        &+.list
          display flex

@media screen and (min-width $md)
  .qwb-sidebar
  
    .qwb-logo
      position static
      background none
      box-shadow none
      padding 0
      left 0
