@import '_variables'
@import '_mixins'


.qwb-sidebar
  display flex
  flex-direction column

  inverted()

  .qwb-logo
    position fixed
    display inline-block
    width 100%
    padding .5rem
    left 0
    top 0
    text-align center
    font-size 1.3em
    margin-bottom 1rem
    box-shadow $shadow
    background-color $dark-primary
    z-index 150

    img
      vertical-align middle
      margin-right .2em

    em
      font-size .6em

  .qwb-menu
    margin-top -1rem
    margin-bottom 2rem
    flex 0

  .qwb-accordion
    margin -1rem
    padding 0

    h4.qwb-toggle
      margin 1px 0 0
      padding .5rem 1rem
      box-shadow $shadow
      background-color $primary
      color $white
      text-transform uppercase

      &.on
        i
          transform rotateZ(180deg)
          color $white

      i
        float right
        font-size .8rem
        margin-top 1em * $header-line-height * 0.5
        transition transform .2s, color .2s

  h4.qwb-toggle.on+.list
    padding-top 1rem
    padding-bottom 1rem

  .list
    padding-right 1rem
    padding-left 1rem

    a
      &+.list
        display none

      &.current
        font-weight bold

        &:before
          content '# '

        &+.list
          display flex

@media screen and (min-width $md)
  .qwb-sidebar .qwb-logo
    position static
    background none
    box-shadow none
    padding 0
    left 0
