.gutter pre
  color #999 // @stylint ignore

pre
  color #525252 // @stylint ignore
  .function .keyword,
  .constant
    color #0092db // @stylint ignore
  .keyword,
  .attribute
    color #e96900 // @stylint ignore
  .number,
  .literal
    color #AE81FF // @stylint ignore
  .tag,
  .tag .title,
  .change,
  .winutils,
  .flow,
  .lisp .title,
  .clojure .built_in,
  .nginx .title,
  .tex .special
    color #2973b7 // @stylint ignore
  .class .title
    color #fff // @stylint ignore
  .symbol,
  .symbol .string,
  .value,
  .regexp
    color $main // @stylint ignore
  .title
    color #A6E22E // @stylint ignore
  .tag .value,
  .string,
  .subst,
  .haskell .type,
  .preprocessor,
  .ruby .class .parent,
  .built_in,
  .sql .aggregate,
  .django .template_tag,
  .django .variable,
  .smalltalk .class,
  .javadoc,
  .django .filter .argument,
  .smalltalk .localvars,
  .smalltalk .array,
  .attr_selector,
  .pseudo,
  .addition,
  .stream,
  .envvar,
  .apache .tag,
  .apache .cbracket,
  .tex .command,
  .prompt
    color $main // @stylint ignore
  .comment,
  .java .annotation,
  .python .decorator,
  .template_comment,
  .pi,
  .doctype,
  .deletion,
  .shebang,
  .apache .sqbracket,
  .tex .formula
    color #b3b3b3 // @stylint ignore
  .coffeescript .javascript,
  .javascript .xml,
  .tex .formula,
  .xml .javascript,
  .xml .vbscript,
  .xml .css,
  .xml .cdata
    opacity .5
