.gutter pre
  color #999 // @stylint ignore

pre
  color #525252 // @stylint ignore
  .function .keyword,
  .constant
    color #0092db // @stylint ignore
  .keyword,
  .attribute
    color #e96900 // @stylint ignore
  .number,
  .literal
    color #AE81FF // @stylint ignore
  .tag,
  .tag .title,
  .change,
  .winutils,
  .flow,
  .lisp .title,
  .clojure .built_in,
  .nginx .title,
  .tex .special
    color #2973b7 // @stylint ignore
  .class .title
    color #fff // @stylint ignore
  .symbol,
  .symbol .string,
  .value,
  .regexp
    color $main // @stylint ignore
  .title
    color #A6E22E // @stylint ignore
  .tag .value,
  .string,
  .subst,
  .haskell .type,
  .preprocessor,
  .ruby .class .parent,
  .built_in,
  .sql .aggregate,
  .django .template_tag,
  .django .variable,
  .smalltalk .class,
  .javadoc,
  .django .filter .argument,
  .smalltalk .localvars,
  .smalltalk .array,
  .attr_selector,
  .pseudo,
  .addition,
  .stream,
  .envvar,
  .apache .tag,
  .apache .cbracket,
  .tex .command,
  .prompt
    color $main // @stylint ignore
  .comment,
  .java .annotation,
  .python .decorator,
  .template_comment,
  .pi,
  .doctype,
  .deletion,
  .shebang,
  .apache .sqbracket,
  .tex .formula
    color #b3b3b3 // @stylint ignore
  .coffeescript .javascript,
  .javascript .xml,
  .tex .formula,
  .xml .javascript,
  .xml .vbscript,
  .xml .css,
  .xml .cdata
    opacity .5

.highlight
  overflow-x auto
  position relative
  padding 0
  background-color $bg
  padding .8em
  line-height 1.1em
  border-radius $radius
  box-shadow $shadow
  table, tr, td
    width 100%
    border-collapse collapse
    padding 0
    margin 0
  .gutter
    width 1.5em
  .code
    pre
      padding 1.2em 1.4em
      line-height 1.5em
      margin 0
  &.html, &.js, &.bash, &.css, &.yaml, &.json, &.stylus
    .code:after
      position absolute
      top 0
      right 0
      color #ccc // @stylint ignore
      text-align right
      font-size .75em
      padding 5px 10px 0
      line-height 15px
      height 15px
      font-weight 600
  &.html .code:after
    content 'HTML'
  &.js .code:after
    content 'JS'
  &.bash .code:after
    content 'Shell'
  &.css .code:after
    content 'CSS'
  &.json .code:after
    content 'JSON'
  &.yaml .code:after
    content 'YAML'
  &.stylus .code:after
    content 'STYLUS'
