code,
pre,
.highlight
  color $inverted-text // @stylint ignore
  background-color $primary-text

.gutter pre
  color $normal-text // @stylint ignore

pre
  .function .keyword,
  .constant
    color $primary // @stylint ignore
  .keyword,
  .attribute
    color $inverted-secondary-text // @stylint ignore
  .number,
  .literal
    color #AE81FF // @stylint ignore
  .tag,
  .tag .title,
  .change,
  .winutils,
  .flow,
  .lisp .title,
  .clojure .built_in,
  .nginx .title,
  .tex .special
    color $dark-primary // @stylint ignore
  .class .title
    color $light-primary // @stylint ignore
  .symbol,
  .symbol .string,
  .value,
  .regexp
    color $inverted-primary-text // @stylint ignore
  .title
    color #A6E22E // @stylint ignore
  .tag .value,
  .string,
  .subst,
  .haskell .type,
  .preprocessor,
  .ruby .class .parent,
  .built_in,
  .sql .aggregate,
  .django .template_tag,
  .django .variable,
  .smalltalk .class,
  .javadoc,
  .django .filter .argument,
  .smalltalk .localvars,
  .smalltalk .array,
  .attr_selector,
  .pseudo,
  .addition,
  .stream,
  .envvar,
  .apache .tag,
  .apache .cbracket,
  .tex .command,
  .prompt
    color $inverted-primary-text // @stylint ignore
  .comment,
  .java .annotation,
  .python .decorator,
  .template_comment,
  .pi,
  .doctype,
  .deletion,
  .shebang,
  .apache .sqbracket,
  .tex .formula
    color $normal-text // @stylint ignore
  .coffeescript .javascript,
  .javascript .xml,
  .tex .formula,
  .xml .javascript,
  .xml .vbscript,
  .xml .css,
  .xml .cdata
    opacity .5

.highlight
  position relative
  padding 0
  margin 0
  line-height 1.1em
  border-radius 5px
  table, tr, td
    width 100%
    border-collapse collapse
    margin 0
  table
    display block
    padding 1.25rem
    overflow auto
    box-sizing border-box
  tr, td
    padding 0
  .gutter
    width 1.5em
  .code
    pre
      margin 0
      padding 0
      line-height 1.5em
  &.html, &.js, &.bash, &.css, &.yaml, &.json, &.stylus
    .code:after
      position absolute
      top 0
      right 0
      color $normal-text // @stylint ignore
      text-align right
      font-size .75em
      padding 5px 10px 0
      line-height 15px
      height 15px
      font-weight 600
  &.html .code:after
    content 'HTML'
  &.js .code:after
    content 'JS'
  &.bash .code:after
    content 'Shell'
  &.css .code:after
    content 'CSS'
  &.json .code:after
    content 'JSON'
  &.yaml .code:after
    content 'YAML'
  &.stylus .code:after
    content 'STYLUS'
