@import '_variables'


/* Base */

html
  color $normal-text
  font-family $base-font-family
  font-size $base-font-size / 16 * 100%
  font-weight $base-font-weight
  letter-spacing $base-letter-spacing
  line-height $base-line-height
  font-smoothing antialiased
  text-size-adjust auto


/* Headers */

h1, h2, h3, h4, h5, h6
  color $secondary-text
  margin 0
  font-weight inherit
  line-height $header-line-height
  letter-spacing $header-letter-spacing

h1
  color $primary-text
  font-size 3.998em

h2
  font-size 2.827em

h3
  font-size 1.999em

h4
  font-size 1.414em


/* Text */

p
  margin-bottom $base-line-height

  &.lead
    font-size 1.4em

small
  font-size 0.7em

em
  color $light

b, strong
  font-weight 700

blockquote
  margin-top $leading-space
  margin-bottom $leading-space

code, pre
  color $inverted-text
  vertical-align bottom


/* Links & Buttons */

a, button
  cursor pointer
  color $secondary-text
  transition all .2s

  &:hover
    color $primary
    text-decoration none


/* Lists */

ul, ol
  margin-top $leading-space
  margin-bottom $leading-space

  ul, ol
    margin-top 0
    margin-bottom 0


/* Tables */

table
  border-spacing 0
  border-collapse collapse

  td, th
    padding 0


/* Variations */

.inverted
  color $inverted-text

  h1, h3
    color $inverted-primary-text
    text-shadow $shadow

  h2, h4
    color $inverted-secondary-text
    text-shadow $shadow

  a
    color $light-primary

    &:hover
      color $white

  p.lead
    text-shadow $shadow
