@import '_variables'


/* Base */

html
  color $normal-text
  font-family $base-font-family
  font-size $base-font-size
  font-weight $base-font-weight
  letter-spacing $base-letter-spacing
  line-height $base-line-height
  font-smoothing antialiased
  text-size-adjust auto

p, ul, ol, pre, table, blockquote
  margin-top 0
  margin-bottom 1em * $base-line-height
  line-height $base-line-height


/* Headers */

h1, h2, h3, h4, h5, h6
  color $secondary-text
  margin 0 0 $header-bottom-margin
  font-family $header-font-family
  font-weight inherit
  line-height $header-line-height
  letter-spacing $header-letter-spacing

h1
  font-size 1em * $base-font-scale ** 4

h2
  font-size 1em * $base-font-scale ** 3

h3
  font-size 1em * $base-font-scale ** 2

h4
  font-size 1em * $base-font-scale ** 1

h5, p
  font-size 1em * $base-font-scale ** 0

h6
  font-size 1em * $base-font-scale ** -1

h1+h2,
h2+h3,
h3+h4,
h4+h5,
h5+h6
  margin-top - $header-bottom-margin


/* Text */

.lead
  font-size 1em * $base-font-scale ** 1

small
  font-size 1em * $base-font-scale ** -1

em
  color $light

b, strong
  font-weight $bold-font-weight

sub, sup
  position relative
  line-height 0
  vertical-align baseline

sup
  top -0.5em

sub
  bottom -0.25em

code, pre
  color $primary-text


/* Links & Buttons */

a, button
  cursor pointer
  text-decoration none
  transition all .2s

  &:hover
    color $primary

a
  color $dark-primary

button
  color $secondary-text


/* Lists */

ul, ol
  padding 0 0 0 1rem
  list-style-position outside

  ul, ol
    margin-top 0
    margin-bottom 0


/* Variations */

.inverted
  color $inverted-text

  h1, h3
    color $inverted-primary-text
    text-shadow $text-shadow

  h2, h4
    color $inverted-secondary-text
    text-shadow $text-shadow

  h5, h6
    color $inverted-text

  a
    color $light-primary

    &:hover
      color $white

  p.lead
    text-shadow $text-shadow

  code, pre
    color $inverted-text
