// font faces
$body-font = 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$logo-font = 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$code-font = 'Roboto Mono', Monaco, courier, monospace

// font sizes
$body-font-size = 15px
$code-font-size = .8em

// colors
$main  = #7580DB

$dark   = #2c3e50
$medium = #34495e
$light  = #5786B5

$border = #dddddd
$red = #ff6666

$radius = 7px
$shadow = 1px 2px 2px 1px rgba(0,0,0,0.125)
$codebg = #f8f8f8
