@import '_palette'
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro'
@import 'https://fonts.googleapis.com/css?family=Exo+2'


/* Text */

$source-sans-pro  = 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$exo-2  = 'Exo 2', 'Helvetica Neue', Arial, sans-serif

$base-font-family = $source-sans-pro
$base-font-size = 16px
$base-font-weight = 300
$base-font-scale = 1.333
$base-line-height = 1.56
$base-letter-spacing = initial

$header-font-family = $exo-2
$header-font-weight = 400
$header-line-height = 1.2
$header-bottom-margin = 1rem
$header-letter-spacing = initial


/* Elements */

$border-color = $normal-text
$border-radius = 4px
$shadow = 0 2px 5px rgba(0, 0, 0, .3)
$text-shadow = 0 2px 1px rgba(0, 0, 0, .4)

$menu-min-height = 3rem
$sidebar-max-width = 280px
$sidebar-vertical-padding = 1rem
$preview-max-width = 412px


/* Responsive */

$xs = 320px
$sm = 480px
$md = 768px
$lg = 992px
$xl = 1200px
