@import '_palette'

// font faces
$body-font = 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$logo-font = $body-font
$code-font = 'Roboto Mono', Monaco, courier, monospace

$small-screen = 720px

// font sizes
$body-font-size = 15px
$code-font-size = .8em

// colors
$main  = $primary

$dark   = $dark-primary
$medium = $primary
$light  = $light-primary
$bg = $divider

$border = $normal-text
$radius = 7px
$shadow = 1px 2px 2px 1px rgba(0, 0, 0, .125)

$hr-color          = $normal-text
$code-border       = 1px solid $normal-text
$iframe-box-shadow = 0 0 5px 2px $secondary-text

$header-height = 70px
$header-color = $white
$header-padding = 25px
$header-bg = $dark-primary
$header-shadow = 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .4)
