@import '_common'

html, body
  height 100%

#hero
  height 100vh
  max-height 650px

  display -webkit-flex
  display -ms-flexbox
  display flex
  -webkit-flex-direction column
  -ms-flex-direction column
  flex-direction column
  -webkit-align-items center
  -ms-flex-align center
  -ms-grid-row-align center // @stylint ignore
  align-items center
  -webkit-justify-content center
  -ms-flex-pack center
  justify-content center

  img
    max-width 90%
  p
    margin 5px 20px
    font-size 1.1rem
    text-align center
  .framework-name
    font-family $logo-font
    font-size 4.5rem
    margin-top 15px
    margin-bottom 10px
    color $dark
    text-shadow 0 0 2px
    small
      display block
      font-size 2rem
  .buttons
    margin-top 25px
    a
      margin 10px

.feats
  max-width 1200px
  margin 1rem auto

.main-features
  margin-bottom 40px

.detailed-features
  border-top 1px solid #eee // @stylint ignore
  background #e3e3e3 url(../images/features-delimiter.gif) top repeat-x // @stylint ignore

.features
  padding 1rem 0
  text-align center
  .feat .icon
    text-align center
    display inline-block
    vertical-align middle
    position relative
    top 20px
    left -5px
    width 40px
    height 40px
    font-size 40px
    margin-right 10px
    float left
    color $main
  .feat
    box-sizing border-box
    -moz-box-sizing border-box
    display inline-block
    text-align left
    vertical-align top
    width 285px
    margin 25px 40px
    h2
      color $main
      line-height 40px
      margin-bottom 0
    p
      padding-left 52px
      margin .4em 0

#footer
  text-align center
  color #fff // @stylint ignore
  padding 5rem 0 3rem
  background $header-bg url(../images/footer-delimiter.gif) top repeat-x // @stylint ignore
  a
    color white
    font-weight bold
  p
    margin .3rem 0
    i
      vertical-align middle
      font-size 1.2rem
  .written-by
    margin-top 1.3rem

.social-links
  text-align center
  list-style-type none
  margin 0 auto
  padding 0
  margin 1.5em auto
  li
    display inline-block
    margin 0 5px
    vertical-align bottom

@media screen and (max-width 550px)
  #main
    padding-top 60px
  #hero
    h1
      font-size 2em
      font-weight 400
    a.button
      width 260px
      font-size 1.2em
      margin .5em 0
    p
      font-size 95%
    .framework-name
      font-size 2rem
  .features
    padding 2em 0
    .feat
      font-size 12px
      margin .8em 0
      width 252px
