@import "_common"

html, body
    height 100%

#nav
    list-style-type none
    text-align center
    padding 0
    li
        display inline-block
        &:last-child .nav-link
            margin-right 0

.nav-link
    color $dark
    padding-bottom 3px
    margin 0 1.5em
    &:first-child
        margin-left 0
    &:hover, &.current
        border-bottom 3px solid $main

#logo
    display block
    margin 6em auto 6em
    width 200px

#logo-wrap
    margin 4em 0
    padding 0 2em

#hero
    text-align center
    height 100vh
    h1
        font-family $logo-font
        font-weight 300
        font-size 4em
        margin 0
    .warning
        color $medium
    .down
        width 100%
        padding 1.5em 0
        img
            width 20px
    a.button
        width 300px
        margin .5em
    .inner
        margin 17vh 0

.second-desc img
    margin-top 2em

.feats
    max-width 1200px
    margin 2em auto 0 auto

.section
    margin 0 0 5em 0
    text-align center
    .feats
        margin 4em auto
    .feat
        box-sizing border-box
        display inline-block
        vertical-align top
        width 285px
        margin 40px
        h2
            color $main
            line-height 40px
            margin-bottom 0
        p
            margin .4em 0
        .icon
            color $main
            text-align center
            vertical-align middle
            position relative
            width 40px
            height 40px
            font-size 40px

#features
    padding 5em 0
    border-top 1px solid #eee
    text-align center
    background: #e3e3e3 url(../images/features-delimiter.gif) top repeat-x
    .feat .icon
        text-align center
        display inline-block
        vertical-align middle
        position relative
        top 20px
        left -5px
        width 40px
        height 40px
        font-size 40px
        margin-right 10px
        float left
        color $main
    .feat
        box-sizing border-box
        -moz-box-sizing border-box
        display inline-block
        text-align left
        vertical-align top
        width 285px
        margin 40px
        h2
            color $main
            line-height 40px
            margin-bottom 0
        p
            padding-left 52px
            margin .4em 0

#footer
    text-align center
    color #fff
    padding 3em 0
    background $main url(../images/footer-delimiter.gif) top repeat-x
    a
        color white
        font-weight bold
    p
        margin .3em 0
        i
            vertical-align middle
            font-size 150%
        &.buttons
            margin 3em 0
            a
                margin 0 1em
                font-size 1.2em
                font-weight normal
                text-decoration none
                text-transform uppercase
                letter-spacing 1px
                border 1px solid #fff
                display inline-block
                padding 12px 20px
                margin-bottom 2em
                &:hover
                    background-color #fff
                    color #7f8c8d
                    border-radius 10px

@media screen and (max-width: 550px)
    body
        font-size 16px
    #nav
        margin 0 1.8em 0
    #logo
        margin 2em auto
    .nav-link
        font-size .85em
        margin 0 .5em
    #hero
        .inner
            margin-top 5vh
        .down
            padding-top .3em
        h1
            font-size 2em
            font-weight 400
        a.button
            width 260px
            font-size .8em
            margin .5em 0
    #features
        padding 2em 0 2em 0
        .feat
            font-size 14px
            margin .8em 0
            width 272px
    #footer
        padding 2em 0
        p.buttons
            margin 4em 0 2em 0
