@import '_common'
@import '_blog'
@import '_search'
@import '_preview'

.content
  padding 0
  margin 10px auto 0 300px
  max-width 750px
  &.with-previewer
    max-width none
  &.centered
    margin 10px auto
  ul
      padding-left 1.25em
      line-height 1.4em
      ul, p
          margin .6em 0
  a.button:not(.support-button)
      font-size .9em
      color $white
      margin .2em 0
      width 180px
      text-align center
      padding 12px 24px
      display inline-block
      vertical-align middle
  img
      max-width 100%
  span.light
      color $light
  span.info
      font-size .85em
      display inline-block
      vertical-align middle
      width 280px
      margin-left 20px
  h1
      margin 0 0 .7em
      a[target^="_blank"]
        border 0 !important
        float right
  h2
      margin 2em 0 .8em
      padding-bottom .4em
      border-bottom 1px solid $border
  h3
      margin 2em 0 1.2em
      position relative
      &:before
          content ' #'
          color $dark
          position absolute
          left -.7em
          top -2px
          font-size 1.2em
          font-weight bold
  h2, h3, h4, h5, h6
      &:hover:after
        content ' #'
        color $dark
        font-weight bold
  figure, p, ul, ol
      margin 1.2em 0
  p, ul, ol
      line-height 1.6em
  ul, ol
      padding-left 1.5em
  a:not([data-scroll]):not(.search-result):not(.support-button):not(.headerlink)
      color $main
      font-weight 700
      padding 0 2px
      transition all .3s ease
      border-bottom 1px dotted $main
      &:hover:not(.button)
          color $dark
          background-color lighten($light, 70%)
  blockquote
      margin 2.5em 0
      padding 0
      p
          padding .5em 1.5em
          border-left 5px solid $main

  iframe
      margin 1em 0
  table
    max-width 100%
    border 1px solid #eee // @stylint ignore
    border-radius 4px
    border-spacing 0
    box-shadow $shadow
    th
      font-weight bold
      border-bottom 2px solid #eee // @stylint ignore
      text-align left
    th, td
      padding 10px 10px
    tr
      &:nth-child(2n)
        background $bg
      vertical-align top
  figure
    table
      border 0
      box-shadow none
      th
        border-bottom 0
  .highlight pre
    padding 0
    .line
      min-height 20px
  > h1 i
    font-size 70%
    vertical-align middle
    color $dark

.guide-links
  margin-top 4em
  height 1em
  i
    vertical-align middle
    color $main
  a
    padding 5px !important
    border 0 !important
    border-radius 5px

.footer
  color $medium
  font-size .9em
  hr
    height 1px
    margin-bottom 1.5em

#main
  padding ($header-height + 20px) 10px 30px 20px

@media print
  #header
  #footer
  #sidebar
    display none

  #preview
    display none !important

  #main
    padding 20px

  .content
    padding 0
    margin auto
    max-width none
