@require 'quasar.typography'
@require 'quasar.grid'
@require 'quasar.brand'
@require 'quasar.images'
@require 'quasar.buttons'
@require 'quasar.inputs'
@require 'quasar.tables'
@require 'quasar.menus'
@require 'quasar.toggles'
@require 'quasar.collapsible'
@require 'quasar.accordions'
@require 'quasar.modals'
@require 'quasar.code'
@require 'quasar.sidebar'
@require 'quasar.search'
@require 'quasar.preview'
@require 'quasar.footer'


/* Sidebar */

#qwb-sidebar
  display flex
  position fixed
  max-width 100%
  width 100%
  height 100%
  padding 0
  z-index 101
  left 0
  overflow-x hidden
  overflow-y hidden
  pointer-events none

  @media screen and (min-width $xs)
    max-width $sidebar-max-width

#qwb-sidebar-toggle
  display block
  pointer-events auto

  &+.qwb-sidebar
    pointer-events auto
    padding-top 4rem
    padding-bottom 0
    max-width 100%
    margin-left -100%
    transition margin-left .2s

    @media screen and (min-width $lg)
      padding-top 1rem
      margin-left 0

  &.on+.qwb-sidebar
    margin-left 0

  @media screen and (min-width $lg)
    display none

#qwb-sidebar .qwb-accordion
  border-top 1px solid rgba(0, 0, 0, .2)


/* Page content */

#qwb-page
  box-sizing border-box
  width 100%
  max-width $lg
  padding 4rem 1rem 2rem
  height 100%
  background-color $white

  h1, h2
    border-bottom 1px dotted $divider

  h1, h2, h3, h4, h5, h6
    cursor pointer
    color $primary-text
    &:hover:after
      content ' #'
      color $primary-text
      font-weight bold

  img
    display block
    width auto
    margin-left auto
    margin-right auto

  @media screen and (min-width $lg)
    padding 2rem
    margin-left $sidebar-max-width
    width 'calc(100% - %s)' % $sidebar-max-width

  @media screen and (min-width $xl)
    &.with-previewer
      width 'calc(100% - %s)' % ($sidebar-max-width + $preview-max-width)
      margin-right $preview-max-width

      &+#qwb-preview
        display flex


/* Page meta */

#qwb-edit-page-btn
  display inline
  float right

#qwb-headnote
  display inline
  float left
  color $secondary-text


/* Mobile preview */

#qwb-preview
  display none
  position fixed
  flex 0
  max-width $preview-max-width
  width 100%
  height 100%
  right 0
  background-color $white
  z-index 150


/* Page content footer */

#qwb-guide-links
  width 100%
  overflow auto
  margin 2rem 0

#qwb-footnote
  padding 1rem 0
  border-top 1px dashed $divider

/**/
