@require 'quasar.typography'
@require 'quasar.grid'
@require 'quasar.brand'
@require 'quasar.images'
@require 'quasar.buttons'
@require 'quasar.inputs'
@require 'quasar.tables'
@require 'quasar.menus'
@require 'quasar.modals'
@require 'quasar.code'
@require 'quasar.syntax'
@require 'quasar.search'
@require 'quasar.sidebar'
@require 'quasar.preview'
@require 'quasar.footer.styl'


#qwb-main
  display flex
  flex-direction column
  width 100%

  .qwb-container .qwb-row
    background-color $white


/* Sidebar */

#qwb-sidebar
  display flex
  position fixed
  width 100%
  z-index 101
  margin-left - $sidebar-max-width
  max-width $sidebar-max-width
  height 100%
  overflow-x hidden
  overflow-y hidden
  transition margin-left .2s

#qwb-sidebar-toggle
  height 3rem
  line-height 2rem
  background-color transparent !important

#qwb-sidebar-toggle.on+#qwb-sidebar
  margin-left 0
  transition margin-left .2s

#qwb-sidebar .qwb-sidebar
  padding-top 4rem

#qwb-sidebar .qwb-accordion
  border-top 1px solid rgba(0, 0, 0, .2)


/* Page content */

#qwb-page
  min-width $xs - 2rem
  max-width $lg
  height 100%
  background-color $white

  .qwb-content
    flex-shrink 0
    padding 4rem 1rem 1rem

    h1, h2
      border-bottom 1px dotted $divider

    h1, h2, h3, h4, h5, h6
      cursor pointer
      &:hover:after
        content ' #'
        color $primary-text
        font-weight bold

    img
      display block
      width auto
      margin-left auto
      margin-right auto

    .qwb-edit-page-btn
      float right

  .qwb-guide-links
    width 100%
    overflow auto
    margin 2rem 0


/* Mobile preview */

#qwb-preview
  display none
  position fixed
  flex 0
  width 100%
  height 100%
  right 0
  background-color $white
  z-index 150


/* Responsive */

@media screen and (min-width $md)

  #qwb-main
    .qwb-container .qwb-row
      padding-left $sidebar-max-width

  #qwb-sidebar
    margin-left - $sidebar-max-width !important
    .qwb-sidebar
      padding-top 1rem

  #qwb-page
    .qwb-content
      padding 2rem 4rem

@media screen and (min-width $xl)

  #qwb-page.with-previewer
    margin-right $preview-max-width

  #qwb-page.with-previewer+#qwb-preview
    display flex

  #qwb-preview
    max-width $preview-max-width
