@require 'quasar.mixins'


/* Sidebars */

#qwb-sponsorship
  padding 1rem
  text-align center

  .row.padded
    margin 0

  img
    max-width 6rem

.qwb-sidebar
  position relative
  display flex
  flex-direction column
  box-sizing border-box
  padding 1rem
  min-width $xxs
  height 100%
  overflow-x hidden
  overflow-y auto
  z-index 101

  inverted()

  .qwb-lead
    flex-direction column

  .qwb-accordion
    flex-grow 1

  .qwb-sidebar-header
    flex-shrink 0
    text-align center

  .qwb-logo
    position fixed
    display inline-block
    width 100%
    left 0
    top 0
    z-index 150
    margin-bottom 1rem
    text-align center
    font-size 1.5em
    line-height 1
    box-shadow $shadow
    background-color $dark-primary

    a
      display inline-block
      margin 0 auto

      img
        display inline-block
        vertical-align middle
        margin-right .25em

      strong
        display inline-block
        vertical-align middle
        width 120px
        margin 0 .5rem
        font-family $header-font-family
        text-shadow $text-shadow

      em
        font-size .6em

  .qwb-accordion
    margin 0 -1rem
    padding 0

    h4.qwb-toggle
      margin 1px 0 0
      padding .5rem 1rem
      box-shadow $shadow
      background-color $primary
      color $white
      text-transform uppercase

      &.on
        i:before
          content '\f077'

      i
        float right
        font-size .8rem
        transition color .2s

  .qwb-toggle.on+.list
    padding-top 1rem
    padding-bottom 1rem

  .list
    padding-right 1rem
    padding-left 1rem

    a
      &+.list
        display none

      &.current,
      &.active
        font-weight bold

        &:before
          content '# '

        &:before
          content '# '

        &+.list
          display flex

  @media screen and (min-width $lg)
    .qwb-logo
      position static
      background none
      box-shadow none
      padding 0
      left 0
