@require 'quasar.theme'


pre
  .function .keyword,
  .constant
    color $primary // @stylint ignore
  .keyword,
  .attribute
    color $inverted-secondary-text // @stylint ignore
  .number,
  .literal
    color #AE81FF // @stylint ignore
  .tag,
  .tag .title,
  .change,
  .winutils,
  .flow,
  .lisp .title,
  .clojure .built_in,
  .nginx .title,
  .tex .special
    color $dark-primary // @stylint ignore
  .class .title
    color $light-primary // @stylint ignore
  .symbol,
  .symbol .string,
  .value,
  .regexp
    color $inverted-primary-text // @stylint ignore
  .title,
  .tag .value,
  .string,
  .subst,
  .haskell .type,
  .preprocessor,
  .ruby .class .parent,
  .built_in,
  .sql .aggregate,
  .django .template_tag,
  .django .variable,
  .smalltalk .class,
  .javadoc,
  .django .filter .argument,
  .smalltalk .localvars,
  .smalltalk .array,
  .attr_selector,
  .pseudo,
  .addition,
  .stream,
  .envvar,
  .apache .tag,
  .apache .cbracket,
  .tex .command,
  .prompt
    color #A6E22E // @stylint ignore
  .comment,
  .java .annotation,
  .python .decorator,
  .template_comment,
  .pi,
  .doctype,
  .deletion,
  .shebang,
  .apache .sqbracket,
  .tex .formula
    color $secondary-text // @stylint ignore
  .coffeescript .javascript,
  .javascript .xml,
  .tex .formula,
  .xml .javascript,
  .xml .vbscript,
  .xml .css,
  .xml .cdata
    opacity .5
