@require 'quasar.theme'


/* Tables */

table
  border-radius $border-radius

table.celled
  td, td:last-of-type
    border-color $inverted-text

  &.stackable td
    @media screen and (max-width: $sm)
      border-color $inverted-text

thead td, th
  color $inverted-primary-text
  background-color $dark-primary !important
