@require 'quasar.theme'


/* Footer */

#qwb-footer
  margin 2rem 0
  text-align center
  box-sizing border-box


/* Copyright */

.qwb-copyright
  margin 1rem auto
  box-sizing border-box
  text-align center
