@require 'quasar.theme'


/* Mixins */

inverted()
  &.inverted
    &
      background-color $dark-primary

    &, a, i
      color $white

      &:hover
        color $light-primary

simple()
  &.simple
    border none
    background-color transparent
    box-shadow none

dropdownHidden()
  position relative
  opacity 0
  left 0
  right 0
  top 100%
  height auto
  max-height 0
  transform translateY(-2em)
  transition opacity .2s, max-height .2s, transform .2s, top .2s

dropdownVisible()
  top 0
  max-height 2999px
  opacity 1
  transform translateY(0)
  transition opacity .2s, max-height .5s, transform .2s, top .2s
