@require 'quasar.theme'


/* Menus */

.qwb-menu
  padding 1rem

  > .qwb-menu
    background-color transparent
    box-shadow none

  > a, > input, > select, > i, > .qwb-btn
    display inline-block
    padding .5em .75em
    vertical-align middle
    margin-top 0
    margin-bottom 0
    box-sizing border-box
    color $secondary-text
    text-decoration none

    > a, > i
      text-align center

  img
    max-height 2rem
    display inline-block
    vertical-align middle
    margin-right .25em
