@require 'quasar.theme'


/* Text */

a
  color $dark-primary
  text-decoration none
  font-weight normal

blockquote
  border-left-color $primary

  &.lead
    text-shadow none


/* Variations */

.padded
  margin-bottom 2.5rem

.lead
  font-size 1.5em
  text-shadow $text-shadow

.inverted
  color $inverted-text

  h1, h3
    color $inverted-primary-text
    text-shadow $text-shadow

  h2, h4
    color $inverted-secondary-text
    text-shadow $text-shadow

  h5, h6
    color $inverted-text

  a:not(.btn)
    color $light-primary
    font-weight normal

    &:hover
      color $white

  code, pre
    color $inverted-text
