@require 'quasar.toggles'


/* Collapsible */

.collapsible
  overflow-y hidden

  > .toggle:first-child

    &+.btn-group
      margin-top 0
      transition .2s margin-top

    &:not(.on)+.btn-group
      @media screen and (max-width: $xs)
        margin-top -150%

    @media screen and (min-width: $xs)
      display none
