@require 'quasar.theme'


/* Code */

code, figure.highlight
  box-sizing border-box
  border-radius $border-radius

code
  white-space nowrap

figure.highlight
  padding 1rem
  margin 0 0 1rem
  max-width 58rem
  width 100%

  pre
    margin 0
    padding 0

  .line
    min-height 20px

  table
    padding .5rem
    width auto
    border none
