@require 'nib'
@require '../../../eight.css'


/* Palette */

$white = #fff
$black = #000

$dark-primary = #1976d2
$primary = #42a5f5
$light-primary = #b3e5fc
$accent = #ff5722
$primary-text = #263238
$secondary-text = #546e7a
$normal-text = #a0b4be
$inverted-text = #dfebf0
$inverted-primary-text = $white
$inverted-secondary-text = $accent
$divider = $normal-text


/* Parameters */

$border-color = $secondary-text
$border-radius = .25rem
$shadow = 0 .15rem .5rem rgba(0, 0, 0, .3)
$text-shadow = 0 .1rem .05rem rgba(0, 0, 0, .75)

$menu-min-height = 48px
$sidebar-max-width = 320px
$sidebar-vertical-padding = 1rem
$preview-max-width = 416px


/* Breakpoints */

$xxs  = 320px
$xs   = 479px
$sm   = 576px
$md   = 768px
$lg   = 992px
$xl   = 1200px
$xxl  = 1600px
