<%- partial('partials/header') %>

<div id="qwb-intro" class="qwb-lead inverted">
  <div class="container">
    <img id="qwb-logo" src="/images/quasar-logo.svg"/>
    <h1 class="qwb-logotype vertical">Quasar Framework</h1>

    <h2>Empowering your websites and apps</h2>
    <p class="lead">
      Build responsive <em>websites</em>, <em>PWAs</em>,
      hybrid <em>mobile</em> apps (that look native!)
      and <strong>Electron</strong> apps, all simultaneously
      using same codebase, powered with <strong>Vue</strong>.
    </p>

    <div id="qwb-intro-actions">
      <a class="btn" href="/guide/index.html">
        <i class="fa fa-bolt"></i>
        Get started
      </a>
      <a class="btn" href="https://github.com/quasarframework/quasar" target="_blank">
        <i class="fa fa-github"></i>
        Github
      </a>
      <a class="btn" href="https://twitter.com/quasarframework" target="_blank" title="@quasarframework">
        <i class="fa fa-twitter"></i>
        Follow us
      </a>
    </div>

    <p class="lead">
      <a
        href="https://github.com/quasarframework/quasar/releases"
        target="_blank"
      >
        <i class="fa fa-send"></i>
        Release notes (&amp; changelog) for v<%- latest_quasar_version() %>
      </a>
    </p>

    <p>
      <a href="/support-quasar-framework.htm">
        <i class="fa fa-medkit"></i>
        Please help Quasar by supporting it
      </a>
    </p>

    <a
      class="qwb-scroll-arrow"
      data-scroll href="#qwb-features"
    >
      <i class="fa fa-chevron-down"></i>
    </a>
  </div>
</div>

<div id="qwb-getting-start" class="qwb-lead">
  <div class="container">
    <h3>Launch in 3..2..1...</h3>
    <div class="osx window terminal">
      <p>$ npm install -g quasar-cli</p>
      <p>$ quasar init hello_world</p>
      <p>$ cd hello_world</p>
      <p>$ npm install</p>
      <p>$ quasar dev</p>
    </div>
  </div>
</div>

<div id="qwb-features">
  <div class="container">
    <div class="row expanded stackable">
      <div class="col">
        <figure id="qwb-responsive" class="qwb-feature-image">
          <img class="desktop device" src="/images/desktop.svg"/>
          <img class="laptop device" src="/images/laptop.svg"/>
          <img class="tablet device" src="/images/tablet.svg"/>
          <img class="mobile device" src="/images/mobile.svg"/>
          <img class="logo" src="/images/quasar-logo.svg"/>
        </figure>
      </div>
      <div class="col">
        <h3>
          All Platforms in One Go
        </h3>
        <p>
          One source code for all platforms simultaneously: responsive desktop/mobile website,
          native mobile Apps (that really look native!).
        </p>
      </div>
    </div>

    <div class="row expanded reverse stackable">
      <div class="col">
        <figure class="qwb-feature-image reverse qwb-components">
          <img class="tools" src="/images/tools.svg"/>
        </figure>
      </div>
      <div class="col">
        <h3>
          Built-in Components
        </h3>
        <p>
          Endless list of components which do most of the heavy-lifting:
          Drawer, Action Sheet, Dialog, Modal, Toast, Tabs, Toolbar,
          Card, Lists, Toggle, Chips Textbox, Datetime, Range,
          Rating, Knob, Collapsibles, Popovers, Pull to Refresh,
          Infinite Scroll, Parallax, Grid, Slider, Stepper, Tree, Chat, Timeline...
        </p>
      </div>
    </div>

    <div class="row expanded stackable">
      <div class="col">
        <figure id="qwb-platforms" class="qwb-feature-image">
          <img class="androidlogo" src="/images/androidlogo.svg"/>
          <img class="applelogo" src="/images/applelogo.svg"/>
          <img class="winlogo" src="/images/winlogo.svg"/>
        </figure>
      </div>
      <div class="col">
        <h3>
          Wide Platform Support
        </h3>
        <p>iOS, Android, Windows Phone, Blackberry, Google Chrome, Firefox, IE11/Edge, Safari, Opera.</p>
      </div>
    </div>

    <div class="row expanded reverse stackable">
      <div class="col">
        <figure id="qwb-boilerplate" class="qwb-feature-image">
          <img class="rocket" src="/images/rocket.svg"/>
        </figure>
      </div>
      <div class="col">
        <h3>
          Boilerplate
        </h3>
        <p>
          Out of the box App code boilerplate, build system, hot reload, linter, test setup, auto minification and more.
        </p>
      </div>
    </div>

    <div class="row expanded stackable">
      <div class="col">
        <figure id="qwb-js-vue" class="qwb-feature-image">
          <img class="jslogo" src="/images/jslogo.svg"/>
          <img class="vuelogo" src="/images/vuelogo.svg"/>
        </figure>
      </div>
      <div class="col">
        <h3>
          VueJs &amp; ES6
        </h3>
        <p>
          ES6 Javascript. Leverage VueJs &amp; NPM ecosystem easily. Support for *.vue single file components.
        </p>
      </div>
    </div>

    <div class="row expanded reverse stackable">
      <div class="col">
        <figure id="qwb-themes" class="qwb-feature-image">
          <img class="themeroller" src="/images/themeroller.svg"/>
        </figure>
      </div>
      <div class="col">
        <h3>
          Themes
        </h3>
        <p>
          Full-featured Quasar CSS Framework. <strong>Material Design</strong> and
          <strong>iOS</strong> themes (for now). Write once, deploy as looking native.
        </p>
      </div>
    </div>

    <div class="row expanded stackable">
      <div class="col">
        <figure id="qwb-play" class="qwb-feature-image">
          <img class="laptop device" src="/images/laptop.svg"/>
          <img class="play" src="/images/play.svg"/>
          <img class="mobile device" src="/images/mobile.svg"/>
          <img class="qrcode" src="/images/qrcode.svg"/>
          <img class="logo" src="/images/quasar-logo.svg"/>
        </figure>
      </div>
      <div class="col">
        <h3>
          Quasar Play App
        </h3>
        <p>
          Develop Quasar Apps with Hot Reload directly on your phone, without even installing them.
        </p>
        <p>
          <a
            class="playstore"
            target="_blank"
            href='https://play.google.com/store/apps/details?id=com.quasarframework.quasarplay&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
          >
            <img width="200" class="centered" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'>
          </a>
        </p>
      </div>
    </div>

    <div class="row expanded reverse stackable">
      <div class="col">
        <figure id="qwb-speed" class="qwb-feature-image">
          <img class="gauge" src="/images/gauge.svg"/>
        </figure>
      </div>
      <div class="col">
        <h3>
          Speed &amp; Efficiency
        </h3>
        <p>
          Quasar focuses on low memory footprint, efficiency and making Apps run really fast.
        </p>
      </div>
    </div>

    <div class="row expanded stackable">
      <div class="col">
        <figure id="qwb-hot-reload" class="qwb-feature-image">
          <img class="smoke" src="/images/smoke.svg"/>
          <img class="cup" src="/images/cup.svg"/>
          <img class="logo" src="/images/quasar-logo.svg"/>
        </figure>
      </div>
      <div class="col">
        <h3>
          Dev Hot Reload
        </h3>
        <p>
          More than just Live Reload. Preserve App state while updating in the browser or phone/tablet (through Quasar Play).
        </p>
      </div>
    </div>

    <div class="row expanded reverse stackable">
      <div class="col">
        <figure id="qwb-docs" class="qwb-feature-image">
          <img class="docs" src="/images/docs.svg"/>
        </figure>
      </div>
      <div class="col">
        <h3>
          Great Documentation
        </h3>
        <p>
          Crystal clear documentation with examples, guides, tips and demos with source code available.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="qwb-sponsorship" class="qwb-lead">
  <div class="container">
    <h3>Proudly sponsored by:</h3>
    <%- partial('partials/sponsors') %>
  </div>
</div>

<div id="qwb-actions" class="qwb-lead inverted">
  <div class="container">
    <a
      class="qwb-scroll-arrow"
      data-scroll href="#qwb-header"
    >
      <i class="fa fa-chevron-up"></i>
    </a>

    <div class="row expanded stackable lg">
      <div class="col">
        <h3>Contribute</h3>
        <h4>Help Build Quasar</h4>
        <p class="lead">
          Quasar is and always will be 100% free and open-source under
          the MIT license.
        </p>
        <p class="lead">
          <a
            href="https://github.com/quasarframework/quasar"
            target="_blank"
          >Fork it <i class="fa fa-code-fork"></i></a> and help make it better.
        </p>
        <a
          class="btn"
          href="https://github.com/quasarframework/quasar"
          target="_blank"
        ><i class="fa fa-code-fork"></i> Fork on Github</a>
      </div>

      <div class="col">
        <h3>Donate</h3>
        <h4>Support Development</h4>
        <p class="lead">
          Help pay for dedicated dev time so that Quasar
          can move forward and evolve quicker.
        </p>
        <p class="lead">
          There's a
          <a
            href="https://github.com/quasarframework/quasar/issues?q=is%3Aissue+is%3Aopen+label%3Aproposal"
            target="_blank"
          >lot to look at <i class="fa fa-binoculars"></i></a>!
        </p>
        <a
          class="btn"
          href="/support-quasar-framework.html"
        ><i class="fa fa-gift"></i> Donate</a>
      </div>

      <div class="col">
        <h3>Feedback</h3>
        <h4>Shout out your ideas</h4>
        <p class="lead">
          Ideas are very important. Can something be improved? Would you like a new
          feature?
        </p>
        <p class="lead">
          <a
            href="https://github.com/quasarframework/quasar/issues"
            target="_blank"
          >Open up a Github issue <i class="fa fa-github"></i></a> and express your ideas.
        </p>
        <a
          class="btn"
          href="https://github.com/quasarframework/quasar/issues"
          target="_blank"
        ><i class="fa fa-bullhorn"></i> Report an issue</a>
      </div>
    </div>
  </div>
</div>

<%- partial('partials/footer') %>
