<div class="q-header">
  <%- partial('partials/standalone-top-navigation') %>

  <div class="q-intro">
    <img src="/images/responsive-logo.png">
    <div class="q-container">
      <h1>Quasar Framework</h1>
      <h2>SPA front-end on steroids.</h2>
      <p>
        使用<strong>VueJs 2</strong>和相同的代码构建响应式网站，混合式移动App（hybrid mobile Apps）和Electron Apps
      </p>
      <p>
        <a
          href="https://github.com/quasarframework/quasar/releases"
          target="_blank"
        >
          <i class="fa fa-send"></i>
          Release notes (& changelog) for v<%- latest_quasar_version() %>
        </a>
      </p>
      <div class="q-intro-actions">
        <a class="button" href="/guide/index.html">
          <i class="fa fa-bolt"></i>
          快速开始
        </a>
        <a class="button" href="https://github.com/quasarframework/quasar" target="_blank">
          <i class="fa fa-github"></i>
          Github仓库
        </a>
        <a class="button" href="https://twitter.com/quasarframework" target="_blank">
          <i class="fa fa-twitter"></i>
          Follow @quasarframework
        </a>
      </div>
    </div>
    <img class="arrow" src="/images/down.png">
  </div>
</div>

<div class="q-feature">
  <div class="q-container q-feature-list">
    <div class="q-feature-item">
      <i class="icon fa fa-code-fork"></i>
      <h4>
        All Platforms in One Go（对所有平台一气呵成）
      </h4>
      <p>
        一套源代码构建所有平台：响应式桌面或移动网站，原生移动App（看起来很原生）
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-gamepad"></i>
      <h4>
        Quasar Play App
      </h4>
      <p>
        在不安装当前开发应用的时候在你的手机上直接进行预览并且具有热重载功能
        <a
          class="playstore"
          style="margin-left: -11px;"
          href='https://play.google.com/store/apps/details?id=com.quasarframework.quasarplay&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'
          target="_blank"
        ></a>
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-thumbs-o-up"></i>
      <h4>
        VueJs & ES6
      </h4>
      <p>
        支持ES6 的JavaScript，棒棒的VueJs 和 NPM 生态系统，并且支持 *.vue 的单文件组件开发.
      </p>
    </div>

    <div class="q-feature-item">
      <i class="icon fa fa-hourglass-half"></i>
      <h4>
        Boilerplate（样板）
      </h4>
      <p>
        开箱即用应用程序代码的样板，构建系统，热重装，代码检查机制，测试机制，自动最小化压缩等等
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-gears"></i>
      <h4>
        Built-in Components （内置组件）
      </h4>
      <p>
        集成了众多组件，免去繁重的开发：
        Drawer, Action Sheet, Dialog, Modal, Toast, Tabs, Toolbar,
        Card, Lists, Toggle, Chips Textbox, Datetime, Range,
        Rating, Knob, Collapsibles, Popovers, Pull to Refresh,
        Infinite Scroll, Parallax, Grid, Slider, Stepper, Tree, Chat, Timeline...
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-magic"></i>
      <h4>
        Themes（主题）
      </h4>
      <p>
      全功能的 Quasar CSS 框架 现在有<strong>Material Design</strong> 和
        <strong>iOS</strong> 两种主题。一次编写，像原生一样运行
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-bolt"></i>
      <h4>
        Speed & Efficiency（速度和效率）
      </h4>
      <p>
        Quasar致力于占用低内存和执行高效率，使应用程序运行的真快
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-arrows-alt"></i>
      <h4>
        Wide Platform Support（广泛的平台支持）
      </h4>
      <p>iOS, Android, Windows Phone, Blackberry, Google Chrome, Firefox, IE11/Edge, Safari, Opera.</p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-refresh"></i>
      <h4>
        Dev Hot Reload（开发热重载）
      </h4>
      <p>
        不仅仅是试试刷新，在浏览器或手机/平板电脑上通过(Quasar Play)执行，甚至可以保留应用的程序状态。
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-book"></i>
      <h4>
        Great Documentation（丰富的文档）
      </h4>
      <p>
        一目了然的文档与示例，指南，提示和演示可用的源代码
      </p>
    </div>
  </div>
</div>

<div class="q-actions">
  <div class="q-container">
    <div class="q-actions-item">
      <h3>贡献</h3>
      <h4>帮助构建 Quasar</h4>
      <p>
        Quasar将在MIT开源协议下永远100%免费，在GitHub上Fork她，贡献自己的一份力量将她变得更好
      </p>
      <a
        class="button"
        href="https://github.com/quasarframework/quasar"
        target="_blank"
      >Fork on Github</a>
    </div>

    <div class="q-actions-item">
      <h3>捐助</h3>
      <h4>支持 Quasar 发展</h4>
      <p>
        帮助支付专门的开发时间，使Quasar能够前进和发展。
        <br>
        There's a
        <a
          href="https://github.com/quasarframework/quasar/issues?q=is%3Aissue+is%3Aopen+label%3Aproposal"
          target="_blank"
        >lot to look forward to</a>.
      </p>
      <a
        class="button"
        href="/support-quasar-framework.html"
      >Donate</a>
    </div>

    <div class="q-actions-item">
      <h3>反馈</h3>
      <h4>说出你的想法</h4>
      <p>
        想法是非常重要的，什么可以改进？你想要一个什么新功能？什么功能在困扰着你？去开个Issue表达你的想法吧
      </p>
      <a
        class="button"
        href="https://github.com/quasarframework/quasar/issues"
        target="_blank"
      >Open issue on Github</a>
    </div>
  </div>
</div>

<%- partial('partials/standalone-bottom-navigation') %>
