<div class="q-header">
  <%- partial('partials/standalone-top-navigation') %>

  <div class="q-intro">
    <img src="/images/responsive-logo.png">
    <div class="q-container">
      <h1>Quasar Framework</h1>
      <h2>v0.14 beta</h2>
      <p>
        <!--
        <a
          href="https://github.com/quasarframework/quasar/releases"
          target="_blank"
        >
          <i class="fa fa-send"></i>
          Release notes (& changelog) for v<%- latest_quasar_version() %>
        </a>
        -->
        Generate project (uses edge build):
        <br>
        $ quasar init default#beta
        <br><br>
        <small>Run "npm update quasar-framework"<br>regularly to catch latest fixes</small>

        <br><br>
        <a
          href="http://beta.quasar-framework.org/quasar-play/android/index.html"
          target="_blank"
        >
          <i class="fa fa-send"></i>
          Live DEMO [Material theme]
        </a>
        <br>
        <a
          href="http://beta.quasar-framework.org/quasar-play/apple/index.html"
          target="_blank"
        >
          <i class="fa fa-send"></i>
          Live DEMO [iOS theme]
        </a>
      </p>
      <div class="q-intro-actions">
        <a class="button" href="/guide/index.html">
          <i class="fa fa-bolt"></i>
          Get started in under a minute
        </a>
        <a class="button" href="https://github.com/quasarframework/quasar" target="_blank">
          <i class="fa fa-github"></i>
          Github
        </a>
        <a class="button" href="https://twitter.com/quasarframework" target="_blank">
          <i class="fa fa-twitter"></i>
          Follow @quasarframework
        </a>
      </div>
    </div>
    <img class="arrow" src="/images/down.png">
  </div>
</div>

<div class="q-feature">
  <div class="q-container q-feature-list">
    <div class="q-feature-item">
      <i class="icon fa fa-code-fork"></i>
      <h4>
        All Platforms in One Go
      </h4>
      <p>
        One source code for all platforms simultaneously: responsive desktop/mobile website,
        native mobile Apps (that really look native!).
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-gamepad"></i>
      <h4>
        Quasar Play App
      </h4>
      <p>
        Develop Quasar Apps with Hot Reload directly on your phone, without even installing them.
        <a
          class="playstore"
          style="margin-left: -11px;"
          href='https://play.google.com/store/apps/details?id=com.quasarframework.quasarplay&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'
          target="_blank"
        ></a>
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-thumbs-o-up"></i>
      <h4>
        VueJs & ES6
      </h4>
      <p>
        ES6 Javascript. Leverage VueJs & NPM ecosystem easily. Support for *.vue single file components.
      </p>
    </div>

    <div class="q-feature-item">
      <i class="icon fa fa-hourglass-half"></i>
      <h4>
        Boilerplate
      </h4>
      <p>
        Out of the box App code boilerplate, build system, hot reload, linter, test setup, auto minification and more.
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-gears"></i>
      <h4>
        Built-in Components
      </h4>
      <p>
        Endless list of components which do most of the heavy-lifting:
        Drawer, Action Sheet, Dialog, Modal, Toast, Tabs, Toolbar,
        Card, Lists, Toggle, Chips Textbox, Datetime, Range,
        Rating, Knob, Collapsibles, Popovers, Pull to Refresh,
        Infinite Scroll, Parallax, Grid, Slider, Stepper, Tree, Chat, Timeline...
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-magic"></i>
      <h4>
        Themes
      </h4>
      <p>
        Full-featured Quasar CSS Framework. <strong>Material Design</strong> and
        <strong>iOS</strong> themes (for now). Write once, deploy as looking native.
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-bolt"></i>
      <h4>
        Speed & Efficiency
      </h4>
      <p>
        Quasar focuses on low memory footprint, efficiency and making Apps run really fast.
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-arrows-alt"></i>
      <h4>
        Wide Platform Support
      </h4>
      <p>iOS, Android, Windows Phone, Blackberry, Google Chrome, Firefox, IE11/Edge, Safari, Opera.</p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-refresh"></i>
      <h4>
        Dev Hot Reload
      </h4>
      <p>
        More than just Live Reload. Preserve App state while updating in the browser or phone/tablet (through Quasar Play).
      </p>
    </div>
    <div class="q-feature-item">
      <i class="icon fa fa-book"></i>
      <h4>
        Great Documentation
      </h4>
      <p>
        Crystal clear documentation with examples, guides, tips and demos with source code available.
      </p>
    </div>
  </div>
</div>

<div class="q-actions">
  <div class="q-container">
    <div class="q-actions-item">
      <h3>Contribute</h3>
      <h4>Help Build Quasar</h4>
      <p>
        Quasar is and always will be 100% free and open-source under
        the MIT license. Fork it on GitHub and help make it bettter.
      </p>
      <a
        class="button"
        href="https://github.com/quasarframework/quasar"
        target="_blank"
      >Fork on Github</a>
    </div>

    <div class="q-actions-item">
      <h3>Donate</h3>
      <h4>Support Quasar Development</h4>
      <p>
        Help pay for dedicated dev time so that Quasar
        can move forward and evolve.
        <br>
        There's a
        <a
          href="https://github.com/quasarframework/quasar/issues?q=is%3Aissue+is%3Aopen+label%3Aproposal"
          target="_blank"
        >lot to look forward to</a>.
      </p>
      <a
        class="button"
        href="/support-quasar-framework.html"
      >Donate</a>
    </div>

    <div class="q-actions-item">
      <h3>Feedback</h3>
      <h4>Shout out your ideas.</h4>
      <p>
        Ideas are very important. Can something be improved? Would you like a new
        feature? Does a feature has something that is bothering you? Open up a Github
        issue and express your ideas.
      </p>
      <a
        class="button"
        href="https://github.com/quasarframework/quasar/issues"
        target="_blank"
      >Open issue on Github</a>
    </div>
  </div>
</div>

<%- partial('partials/standalone-bottom-navigation') %>
