<div id="hero">
  <div class="inner">
    <ul id="nav">
      <li><a href="/guide/" class="nav-link">Guide</a></li>
      <li><a href="/api/" class="nav-link">API</a></li>
      <li><a href="/blog/" class="nav-link">Blog</a></li>
      <li><a href="https://github.com/rstoenescu/quasar-framework" class="nav-link" target="_blank">GitHub</a></li>
    </ul>
    <div id="logo-wrap">
      <img id="logo" src="/images/logo.png">
      <h1>Quasar Framework</h1>
    </div>
    <p class="desc">Build desktop & phone/tablet apps simultaneously.</p>
    <p class="buttons">
      <a href="/guide/installation.html" class="button">Install</a>
    </p>
  </div>
  <div class="down"><img src="/images/down.png"></div>
</div>

<div id="features">
  <div class="feats">
    <div class="feat">
      <h2><span class="icon simple"></span>Simple</h2>
      <p>Write some HTML, grab some JSON, create a Vue instance, that's it.</p>
    </div>
    <div class="feat">
      <h2><span class="icon powerful"></span>Reactive</h2>
      <p>Expressions & computed properties with transparent dependency tracking.</p>
    </div>
    <div class="feat">
      <h2><span class="icon composable"></span>Components</h2>
      <p>Compose your application with decoupled, reusable components.</p>
    </div>
    <div class="feat">
      <h2><span class="icon compact"></span>Compact</h2>
      <p>~23kb min+gzip, no dependency.</p>
    </div>
    <div class="feat">
      <h2><span class="icon fast"></span>Fast</h2>
      <p>Precise and efficient async batch DOM updates.</p>
    </div>
    <div class="feat">
      <h2><span class="icon module"></span>Package Ready</h2>
      <p>Install via NPM or Bower - leverage your favorite eco system!</p>
    </div>
  </div>
</div>

<div id="why">
  <h2>You should try it out if you like:</h2>
  <ul>
    <li>Extendable Data bindings</li>
    <li>Plain JS object models</li>
    <li>API that simply makes sense</li>
    <li>Build UI by composing components</li>
    <li>Mix &amp; matching small libraries</li>
  </ul>
</div>
<div id="footer">
  <a class="start" href="/guide/index.html">Get Started</a>
  <p>Released under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a></p>
  <p>Copyright (c) <%- date(Date.now(), 'YYYY') %> Razvan Stoenescu</p>
</div>
