<div class="qwb-container">
  <div class="qwb-row">
    <div class="qwb-item sidebar">
      <%- partial('partials/sidebar') %>
    </div>

    <div class="qwb-item page">
      <%- partial('partials/page-content') %>
      <%- partial('partials/footer') %>
    </div>

    <div class="qwb-item preview">
      <%- partial('partials/preview') %>
    </div>
  </div>
</div>
