header-padding-normal = 10px
header-padding-max = 30px
logo-size = 50px

#header
  position: relative
  padding: header-padding-normal 0
  @media print
    display: none
  .home &
    padding: header-padding-max 0

#header-inner
  position: relative

#logo-wrap
  text-align: center

#logo
  hide-text()
  background: url("/logo.svg")
  width: logo-size
  height: logo-size
  background-size: @width @height
  display: inline-block
  @media mq-normal
    float: left

#main-nav
  display: none
  float: left
  padding-left: 20px
  @media mq-normal
    display: block

.main-nav-item
  float: left

.main-nav-link
  color: #fff
  text-decoration: none
  line-height: logo-size
  opacity: 0.7
  transition: 0.2s
  font-family: font-title
  text-transform: uppercase
  display: block
  padding: 0 20px
  &:hover
    opacity: 1
    color: color-link-hover
